{% extends "base.html.twig" %}

{% form_theme passwordForm "form/_custom_profile_themes.html.twig" %}

{% block body %}

    <main role="main">

        {{ include('partials/_header.html.twig', { h1_content: 'Réinitialisation de votre mot de passe' }) }}

        <center class="mt-6 p-5 mx-auto w-full md:w-1/2 bg-white rounded-2xl shadow-soft">

            {{ form_start(passwordForm, {'novalidate' : 'novalidate', 'attr': {'class': 'my-10'}}) }}

                {{ form_widget(passwordForm) }}

                <div class="button-group mt-7 flex justify-center items-center gap-6">
                    <a href="/profile" class="text-light-blue font-bold">
                        Annuler
                    </a>
                    <button class="bg-light-blue text-white font-bold px-2 py-2 rounded-lg">
                        Valider
                    </button>
                </div>

            {{ form_end(passwordForm) }}

        </center>

    </main>

 {# <main class="content" role="main">

    <!-- BEGIN: Profile Info -->

    <div class="flex justify-center flex-col">

        <div class="mt-6 mb-1">
            {% set spanHeader, h1Header = "Recette", "Nouveau mot de passe" %}
            {{ include("partials/_header.html.twig", {}) }}
        </div>

        <div class="rounded-lg shadow bg-gray-50 py-5 px-5 w-1/2">

            {{ form_start(passwordForm, {'novalidate' : 'novalidate'}) }}

                <div class="flex flex-col gap-3 justify-center">

                    <div class="w-1/2 mx-auto">
                    {{ form_label(passwordForm.oldPassword) }}
                    {{ form_errors(passwordForm.oldPassword) }}
                    {{ form_widget(passwordForm.oldPassword) }}
                    </div>

                    <div class="w-1/2 mx-auto">
                    {{ form_label(passwordForm.plainPassword.first) }}
                    {{ form_errors(passwordForm.plainPassword.first) }}
                    {{ form_widget(passwordForm.plainPassword.first) }}
                    </div>

                    <div class="w-1/2 mx-auto">
                    {{ form_label(passwordForm.plainPassword.second) }}
                    {{ form_errors(passwordForm.plainPassword.second) }}
                    {{ form_widget(passwordForm.plainPassword.second) }}
                    </div>

                </div>

                <div class="button-group flex gap-6 justify-center mt-7">
                    <button class="btn btn-secondary"><i class="w-4 h-4 mr-2" data-feather="save"></i>Annuler</button>
                    <button class="btn btn-primary"><i class="w-4 h-4 mr-2" data-feather="save"></i>Valider</button>
                </div>

                </div>

            {{ form_end(passwordForm) }}

        </div>

    </div>
    


</main> #}

{% endblock %}