{% extends "base.html.twig" %}

{% form_theme profileForm "form/_custom_profile_themes.html.twig" %}

{% block title %}{{ parent() }} - Mes informations{% endblock %}

{% block body %}

	<div 
		{% if app.user.hasFirstFillProfile is same as(false) %}
			class="page-transition"
			{{ stimulus_controller('page-transition') }}
		{% endif %}
	>

		<div class="py-12 min-screen">

			{% if app.user.hasFirstFillProfile is same as(true) %}

				{{ include('navigation/_header_page.html.twig', {title: "Mes informations"}) }}

				<div class="flex justify-center items-center">

			{% else %}

				<div class="flex items-center justify-start py-16">

			{% endif %}

					<div class="flex flex-col w-full justify-center text-center">

						{% if app.user.firstFillProfile is same as (false) %}

							<ol class="flex xl:my-hidden flex-row w-full h-12 text-xs md:text-sm font-medium text-gray-700 mx-auto lg:mt-6 pb-6 gap-2 lg:gap-0 mb-8 md:mb-18 overflow-x-auto whitespace-nowrap">
								{% set steps, lastValidStep = constant('App\\Service\\ProfileHandler::STEPS'), app.user.validStepProfiles|last %}
								{% set currentStep = element %}
								{% for key, step in steps %}
									{% if step == lastValidStep %}
										{% set currentStep = steps[key + 1] %}
									{% endif %}
								{% endfor %}

								{% for key, step in steps %}

									<li class="flex items-start lg:items-center leading-4 justify-center flex-shrink-0">
										{% if loop.index0 %}
											<div class="flex items-center justify-center px-2 flex">
												<svg xmlns="http://www.w3.org/2000/svg" fill="none" height="20" width="20" viewbox="0 0 24 24" class="text-slate-400" stroke="currentColor">
													<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
												</svg>
											</div>
										{% endif %}

										{% if step is same as (element) %}
											<a href="{{ path('app_profile_edit', { element: step }) }}" class="text-base xl:text-xl text-sky-500 font-bold uppercase text-center flex items-center">
												{% if step in app.user.validStepProfiles %}
													<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
														<path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7" />
													</svg>
												{% endif %}
												{{ "profile.stepper_registration.#{step}"|trans({}, 'profile') }}
											</a>
										{% elseif step in app.user.validStepProfiles %}
											<a href="{{ path('app_profile_edit', { element: step }) }}" class="text-base xl:text-xl font-bold uppercase text-center flex items-center">
												<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
													<path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7" />
												</svg>
												{{ "profile.stepper_registration.#{step}"|trans({}, 'profile') }}
											</a>
										{% elseif step == currentStep %}
											<a href="{{ path('app_profile_edit', { element: step }) }}" class="text-base xl:text-xl font-bold uppercase text-center flex items-center">
												{{ "profile.stepper_registration.#{step}"|trans({}, 'profile') }}
											</a>
										{% else %}
											<span class="text-base xl:text-xl font-bold uppercase text-center">{{ "profile.stepper_registration.#{step}"|trans({}, 'profile') }}</span>
										{% endif %}
									</li>

								{% endfor %}

							</ol>

							<ol class="my-hidden xl:flex flex-row w-full justify-center h-12 text-xs md:text-sm font-medium text-gray-700 mx-auto lg:mt-6 pb-6 gap-2 lg:gap-0 mb-8 md:mb-18 overflow-x-auto whitespace-nowrap">
								{% set steps, lastValidStep = constant('App\\Service\\ProfileHandler::STEPS'), app.user.validStepProfiles|last %}
								{% set currentStep = element %}
								{% for key, step in steps %}
									{% if step == lastValidStep %}
										{% set currentStep = steps[key + 1] %}
									{% endif %}
								{% endfor %}

								{% for key, step in steps %}

									<li class="flex items-start lg:items-center leading-4 justify-center flex-shrink-0">

										{% if loop.index0 %}
											<div class="flex items-center justify-center px-2 flex">
												<svg xmlns="http://www.w3.org/2000/svg" fill="none" height="20" width="20" viewbox="0 0 24 24" class="text-slate-400" stroke="currentColor">
													<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
												</svg>
											</div>
										{% endif %}

										{% if step is same as (element) %}
											<a href="{{ path('app_profile_edit', { element: step }) }}" class="text-base xl:text-xl text-sky-500 font-bold uppercase text-center flex items-center">
												{% if step in app.user.validStepProfiles %}
													<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
														<path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7" />
													</svg>
												{% endif %}
												{{ "profile.stepper_registration.#{step}"|trans({}, 'profile') }}
											</a>
										{% elseif step in app.user.validStepProfiles %}
											<a href="{{ path('app_profile_edit', { element: step }) }}" class="text-base xl:text-xl font-bold uppercase text-center flex items-center">
												<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
													<path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7" />
												</svg>
												{{ "profile.stepper_registration.#{step}"|trans({}, 'profile') }}
											</a>
										{% elseif step == currentStep %}
											<a href="{{ path('app_profile_edit', { element: step }) }}" class="text-base xl:text-xl font-bold uppercase text-center flex items-center">
												{{ "profile.stepper_registration.#{step}"|trans({}, 'profile') }}
											</a>
										{% else %}
											<span class="text-base xl:text-xl font-bold uppercase text-center">{{ "profile.stepper_registration.#{step}"|trans({}, 'profile') }}</span>
										{% endif %}
									</li>

								{% endfor %}

							</ol>

						{% endif %}

						<div class="flex-1 flex items-start lg:items-center">

							<div class="p-6 profileForm mx-auto my-5 bg-white flex flex-col justify-center mt-0 rounded-xl shadow-lg" {{ stimulus_controller('profile') }}>

								{{ form_start(profileForm, {'attr': {
										'action' : path('app_profile_edit', { element }),
										'data-controller': 'form-loader',
										'data-turbo' : 'false', 
										'class' : 'w-full'}
								}) }}

								{{ form_widget(profileForm) }}

								{% if app.session.has('user_error_pic') %}
									<span class="text-red-700">
										{{ render(controller('App\\Controller\\ProfileController::showErrorPicture')) }}
									</span>
								{% endif %}

								{{ include('profile/partials/_btn_nav.html.twig') }}

								{{ form_end(profileForm, { render_rest: false }) }}

							</div>

						</div>

					</div>

				</div>

		</div>
	
	</div>

{% endblock %}


