{% extends "base.html.twig" %}

{% form_theme profileForm "form/_custom_profile_themes.html.twig" %}

{% block title %}{{ parent() }} - Mes informations{% endblock %}

{% block body %}

	<div 
		{% if app.user.hasFirstFillProfile is same as(false) %}
			class="page-transition"
			{{ stimulus_controller('page-transition') }}
		{% endif %}
	>

		<div class="py-12 min-screen">

			{% if app.user.hasFirstFillProfile is same as(true) %}

				{{ include('navigation/_header_page.html.twig', {title: "Mes informations"}) }}

				<div class="flex justify-center items-center">

			{% else %}

				<div class="flex items-center justify-start py-16">

			{% endif %}

					<div class="flex flex-col w-full justify-center text-center">

						{% if app.user.firstFillProfile is same as (false) %}

							{{ include('profile/registration_steps.html.twig') }}

						{% endif %}

						<div class="flex-1 flex items-start lg:items-center">

							<div class="p-6 profileForm mx-auto my-5 bg-white flex flex-col justify-center mt-0 rounded-xl shadow-lg" {{ stimulus_controller('profile') }}>

								{{ form_start(profileForm, {'attr': {
										'action' : path('app_profile_edit', { element }),
										'data-controller': 'form-loader',
										'data-turbo' : 'false', 
										'class' : 'w-full relative'}
								}) }}

								{% if element == constant('App\\Service\\ProfileHandler::ENERGY') %}

									{{ form_label(profileForm.automaticCalculateEnergy) }}

									<div class="flex flex-col items-center justify-center">

										<div class="space-y-6 mb-8">

											{{ form_errors(profileForm) }}
											{{ form_errors(profileForm.energy) }}

											<div class="flex items-center gap-3">

												{{ form_widget(profileForm.automaticCalculateEnergy.0, {
													attr: { 'class': '-mt-1' }
												}) }}

												<label for="{{ profileForm.automaticCalculateEnergy.0.vars.id }}" class="font-normal flex items-center">
													Laisser le programme calculer mes besoins
													<span class="text-red-700 font-semibold">
														({{ app.user.energyCalculate|round }} kcal)
													</span>
												</label>

											</div>

											<div class="flex items-center gap-3">

												{{ form_widget(profileForm.automaticCalculateEnergy.1, {
													attr: { 'class': '-mt-1' }
												}) }}

												<label for="{{ profileForm.automaticCalculateEnergy.1.vars.id }}" class="font-normal">
													Je connais mes besoins
												</label>

												<div class="flex items-center gap-2">
													{{ form_widget(profileForm.energy, {
														attr: { class: 'w-28 border rounded px-2 py-1' }
													}) }}

													{{ form_widget(profileForm.unitMeasureEnergy) }}
												</div>

											</div>

										</div>

									</div>

									{{ form_widget(profileForm._token_profile) }}

								{% else %}

									{{ form_widget(profileForm) }}

								{% endif %}


								{% if app.session.has('user_error_pic') %}
									<span class="text-red-700">
										{{ render(controller('App\\Controller\\ProfileController::showErrorPicture')) }}
									</span>
								{% endif %}

								{{ include('profile/partials/_btn_nav.html.twig') }}

								{{ form_end(profileForm, { render_rest: false }) }}

							</div>

						</div>

					</div>

				</div>

		</div>
	
	</div>

{% endblock %}


