{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Mon profil{% endblock %}

{% block body %}

	<div class="py-12 relative">

		{{ render(path('app_energy_adjustment_message')) }}

		<h1 class="text-2xl md:text-4xl mb-8 font-bold">
			Mes informations
		</h1>

		<div {{ stimulus_controller('alert-imc-weight-modal') }} class="bg-white text-sm shadow-soft rounded-2xl">

				<div class="flex flex-col lg:flex-row border-b border-gray-200"> 
					<div class="flex flex-1 p-5 relative items-start">
						<div class="w-20 h-20 flex-none lg:w-32 lg:h-32 image-fit relative">
							{% if app.user.picture is not null %}
								<img class="rounded-full" alt="Photo de l'utilisateur {{ app.user.username }}" src="{{ app.user.picturePath|imagine_filter('squared_thumbnail_medium') }}">
							{% else %}
								<div class="rounded-full flex items-center justify-center text-6xl h-full border border-slate-300">
									<svg fill="none" class="w-12 h-12 text-slate-300" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
										<path stroke-linecap="round" stroke-linejoin="round" d="M6.827 6.175A2.31 2.31 0 015.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 00-1.134-.175 2.31 2.31 0 01-1.64-1.055l-.822-1.316a2.192 2.192 0 00-1.736-1.039 48.774 48.774 0 00-5.232 0 2.192 2.192 0 00-1.736 1.039l-.821 1.316z"></path>
										<path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12.75a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zM18.75 10.5h.008v.008h-.008V10.5z"></path>
									</svg>
								</div>
							{% endif %}
						</div>
						<div class="flex flex-col ml-5 mt-2">
							<div class="flex flex-row items-center w-full">
								<div class="sm:whitespace-normal font-semibold text-2xl text-gray-700">{{ app.user.username }}</div>
								<div class="flex items-center">
									{{ include('profile/partials/_icon_edit.html.twig', { element: constant('App\\Service\\ProfileHandler::PARAMETERS') }) }}
								</div>
							</div>
							<div
								class="flex items-center font-semibold text-light-blue text-xs md:text-base -ml-1">
								<svg viewbox="0 0 24 24" class="w-6 h-6 mr-2" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
									<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
									<g id="SVGRepo_iconCarrier">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M3.75 5.25L3 6V18L3.75 18.75H20.25L21 18V6L20.25 5.25H3.75ZM4.5 7.6955V17.25H19.5V7.69525L11.9999 14.5136L4.5 7.6955ZM18.3099 6.75H5.68986L11.9999 12.4864L18.3099 6.75Z" fill="#0EA5E9"></path>
									</g>
								</svg>
								{{ app.user.email }}
							</div>
						</div>
					<div class="absolute right-0 -bottom-4 lg:bottom-2 py-2 rounded-md flex items-center gap-2 w-full px-5">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" fill="#0EA5E9" class="mb-1">
							<path d="M12 2C9.243 2 7 4.243 7 7v3H6c-1.103 0-2 .897-2 2v10c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2V12c0-1.103-.897-2-2-2h-1V7c0-2.757-2.243-5-5-5zm-3 8V7c0-1.654 1.346-3 3-3s3 1.346 3 3v3h-6zm-1 2h8v10H8V12z"/>
						</svg>
						<a href="{{ path('app_profile_password_edit') }}" class="text-light-blue">Modifier le mot de passe</a>
					</div>
				</div>
				<div class="relative flex-1 p-5 pt-5 text-base">
					<div class="flex flex-col justify-center items-center lg:items-start">
						<div
							class="flex items-center w-full">
							<label class="flex items-center w-24 justify-between">
								<span>{% trans from 'profile' %}profile.gender.label1{% endtrans %}</span>
							</label>
							<span>
								{{ app.user.gender.name|trans({}, 'profile')|default("Vous n'avez pas renseigné votre genre") }}
							</span>
							{{ include('profile/partials/_icon_edit.html.twig', {element: constant('App\\Service\\ProfileHandler::GENDER')}) }}
						</div>
						<div class="flex items-center mt-2 w-full">
							<label class="flex items-center w-24 justify-between">
								<span>{% trans from 'profile' %}profile.age.label1{% endtrans %}</span>
							</label>
							<span>
								{{ app.user.ageRange.description|trans({}, 'profile')|default("Vous n'avez pas renseigné votre tranche d'âge") }}
							</span>
							{{ include('profile/partials/_icon_edit.html.twig', {element: constant('App\\Service\\ProfileHandler::AGE_RANGE')}) }}
						</div>
						<div class="flex items-center mt-2 w-full">
							<label class="flex items-center w-24 justify-between">
								<span>{% trans from 'profile' %}profile.height.label1{% endtrans %}</span>
							</label>
							<span>
								{{ 'profile.height.value'|trans({'value': app.user.height}, domain='profile')|default("Vous n'avez pas renseigné votre taille") }}
							</span>
							{{ include('profile/partials/_icon_edit.html.twig', {element: constant('App\\Service\\ProfileHandler::HEIGHT')}) }}
						</div>
						<div class="flex items-center mt-2 w-full">
							<label class="flex items-center w-24 justify-between">
								<span>{% trans from 'profile' %}profile.weight.label1{% endtrans %}</span>
							</label>
							{{ 'profile.weight.value'|trans({'value': app.user.weight}, domain='profile')|default("Vous n'avez pas renseigné votre poids") }}
							{{ include('profile/partials/_icon_edit.html.twig', {element: constant('App\\Service\\ProfileHandler::WEIGHT')}) }}
						</div>
					</div>
				</div>
			</div>

			<div class="flex flex-col lg:flex-row text-base">
				<div class="relative flex-1 p-5">
					<div class="flex items-center gap-2">
						<label class="font-bold uppercase">{% trans from 'profile' %}profile.physical_activities.label{% endtrans %}</label>
					</div>
					<div class="flex flex-1 tems-center justify-center">
						<div class="flex flex-col justify-center items-center my-4 md:my-2 w-full">
							<div class="flex items-center w-full">
								<span>{{ app.user.hour|trans({}, 'profile')|default("Vous n'avez pas indiqué vos horaires") }}</span>
								{{ include('profile/partials/_icon_edit.html.twig', { element: constant('App\\Service\\ProfileHandler::HOURS') }) }}
							</div>
							<div class="flex items-center justify-start mt-2 w-full">
								<span>{{ app.user.workingType.description|trans({}, 'profile')|default("Vous n'avez pas saisi votre type de métier") }}</span>
								{{ include('profile/partials/_icon_edit.html.twig', { element: constant('App\\Service\\ProfileHandler::WORK') }) }}
							</div>
							<div class="flex items-center justify-start mt-2 w-full">
								<span>{{ app.user.sportingTime.description|trans({}, 'profile')|default("Vous n'avez pas saisi votre type de métier") }}</span>
								{{ include('profile/partials/_icon_edit.html.twig', { element: constant('App\\Service\\ProfileHandler::SPORT') }) }}
							</div>
						</div>
					</div>
				</div>
				<div class="relative flex-1 p-5 text-base">
					<div class="flex items-center gap-3 uppercase font-bold">
						<span>{% trans from 'profile' %}profile.diets.label1{% endtrans %}</span>
						{{ include('profile/partials/_icon_edit.html.twig', {element: constant('App\\Service\\ProfileHandler::DIETS')}) }}
					</div>
					<div class="flex flex-col justify-center items-center lg:items-start mt-2 mb-6 relative">
						{% if app.user.diets is not empty %}
							<ul class="flex flex-wrap justify-start gap-2 w-full">
								{% for diet in app.user.diets %}
									<li>
										<span class="inline-flex items-center justify-center px-2 py-3 font-bold leading-none text-white bg-green-700 rounded">
											{{ diet.name }}
										</span>
									</li>
								{% endfor %}
							</ul>
						{% else %}
							{% trans from 'profile' %}profile.diets.none{% endtrans %}
						{% endif %}
					</div>
					<div
						class="flex items-center gap-3 uppercase font-bold">
						<span>{% trans from 'profile' %}profile.forbidden_foods.label1{% endtrans %}</span>
						{{ include('profile/partials/_icon_edit.html.twig', {element: constant('App\\Service\\ProfileHandler::FORBIDDEN_FOODS')}) }}
					</div>
					<div class="flex flex-col justify-center items-center lg:items-start mt-2 relative">
						{% if app.user.forbiddenFoods is not empty %}
							<ul class="flex flex-wrap justify-start gap-2 w-full">
								{% for forbiddenFood in app.user.forbiddenFoods %}
									<li>
										<span class="inline-flex items-center justify-center px-2 py-3 font-bold leading-none text-white bg-dark-blue rounded">
											{{ forbiddenFood.name }}
										</span>
									</li>
								{% endfor %}
							</ul>
						{% else %}
							{% trans from 'profile' %}profile.forbidden_foods.none{% endtrans %}
						{% endif %}
					</div>
					
				</div>
	
			</div>

			{# <div class="flex flex-col md:flex-row border-t border-gray-200 w-full border">

				<div class="lg:mt-0 flex justify-center py-6 mx-4 relative">

					{{ render(controller('App\\Controller\\ProfileController::energy'))}}

					<div class="absolute bottom-6 right-0">
						{{ include('profile/partials/_icon_edit.html.twig', { element: constant('App\\Service\\ProfileHandler::ENERGY') }) }}
					</div>

				</div>

				<div class="lg:mt-0 flex justify-center mx-4 relative py-6 items-stretch">

					{{ render(controller('App\\Controller\\ProfileController::imc')) }}

				</div>

			</div> #}

		</div>

	</div>

{% endblock %}
