{% use 'form/_custom_themes.html.twig' %}

{% block _dish_food_group_submit_widget %}
     <div class="goto-food inline-flex food-group h-8 font-bold items-center current-shadow rounded" style="border:2px solid {{ food_group.parent.degradedColor }}; color: {{ food_group.parent.color }}; background-color: {{ food_group.parent.degradedColor }}">
        {% if food_group.name|length > 15 %}
            {% set label = food_group.shortName %}
        {% endif %}
        {%- set type = type|default('button') -%}
        {{ block('button_widget') }}
        <svg class="w-5 h-5 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14">
            </path>
        </svg>
    </div>
{% endblock %}

{%- block dish_horizontal_choices_widget -%}
    {%- set attr = attr|merge({ class: attr.class|default('flex') }) -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="choice-aligned flex items-center mr-2 leading-3 h-5">
                {{- form_widget(child, {'attr': {'class': 'cursor-pointer mr-2'}}) -}}
                {{- form_label(child, null, { translation_domain: choice_translation_domain, 'label_attr': {'class': 'font-normal ucfirst cursor-pointer'} }) -}}
            </div>
        {% endfor -%}
    </div>
{%- endblock dish_horizontal_choices_widget -%}

{% block _dish_stepRecipes_entry_description_row %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div class="mt-2 flex flex-col">
        {{- form_label(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_errors(form) -}}
        {{- form_help(form) -}}
    </div>
{% endblock %}

{% block _dish_stepRecipes_entry_description_errors %}
    {%- if errors|length > 0 -%}
        <div class="flex flex-col">
            {%- for error in errors -%}
                <span class="{{ error_item_class|default('text-red-700') }}">{{ error.message }}</span>
            {%- endfor -%}
        </div>
    {%- endif -%}
{% endblock _dish_stepRecipes_entry_description_errors %}





