{% extends "security/_layout.html.twig" %}

{% block content %}

    <div class="flex flex-col gap-2">

        <h1 class="text-xl font-bold">
            Réinitialiser votre mot de passe
        </h1>

        <p class="mt-2 text-sm text-gray-500 text-left">
            Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
        </p>

        {{ form_start(requestForm) }}
            
            {# {{ form_label(requestForm.email, 'Votre adresse email', {'label_attr' : {'class' : 'form-label text-sky-600 text-sm'}}) }} #}
            {{ form_widget(requestForm.email, {'attr' : {'class' : 'form-control w-full h-12 rounded-lg'}}) }}
            {{ form_errors(requestForm.email) }}

            <div class="button-group text-center mt-7 text-sm">
                <button class="bg-sky-600 hover:bg-sky-700 text-white w-full font-bold p-2 text-base cursor-pointer rounded-lg transition duration-300">
                    Valider
                </button>
                <div class="mt-7">Déja inscrit? <br><a href="{{ path('app_login') }}" class="text-sky-600 hover:text-sky-700">Identifiez-vous</a></div>
                <div class="mt-7">Pas encore de compte? <br><a href="{{ path('app_register') }}" class="text-sky-600 hover:text-sky-700">Inscrivez-vous en moins de 5 min!</a></div>
            </div>

        {{ form_end(requestForm) }}

    </div>

{% endblock %}