{% extends "security/_layout.html.twig" %}

{% block content %}

    <div class="flex flex-col gap-2 mt-4">

        {# Texte explicatif indiquant à l'utilisateur qu'il doit saisir son adresse email pour recevoir un lien de réinitialisation #}
        <p class="mt-2">
            Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
        </p>

        {# Début du formulaire Symfony permettant de saisir l'adresse email associée au compte #}
        {{ form_start(requestForm, {'attr': {'class': 'security'}}) }}
            
            {# Champ de saisie de l'adresse email avec styles Tailwind et placeholder explicatif #}
            {{ form_widget(requestForm.email, {
                'attr' : {
                    'class' : 'block w-full bg-white rounded-lg border border-gray-300 text-gray-900',
                    'placeholder': 'Votre adresse e-mail'
                }
            }) }}

            {# Affichage des éventuelles erreurs de validation liées au champ email #}
            {{ form_errors(requestForm.email) }}

            {# Bloc contenant le bouton de validation et les liens de navigation vers connexion ou inscription #}
            <div class="text-center mt-7 text-sm">

                <button class="bg-sky-600 hover:bg-sky-700 text-white w-full font-bold py-3 text-base cursor-pointer rounded-lg transition duration-300">
                    Valider
                </button>

                <div class="mt-7">
                    Déja inscrit? <br>
                    <a href="{{ path('app_login') }}" class="text-sky-600 hover:text-sky-700 duration-300 transition font-semibold">
                        Identifiez-vous
                    </a>
                </div>

                <div class="mt-7">
                    Pas encore de compte? <br>
                    <a href="{{ path('app_register') }}" class="text-sky-600 hover:text-sky-700 duration-300 transition font-semibold">
                        Inscrivez-vous en moins de 5 min!
                    </a>
                </div>

            </div>

        {{ form_end(requestForm) }}

    </div>

{% endblock %}