{% extends "security/_layout.html.twig" %}

{% block content %}

    <div class="flex flex-col gap-2">

        <h1 class="text-4xl font-bold text-white text-center">
            Réinitialiser votre mot de passe
        </h1>

        <p class="mt-2 text-white">
            Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
        </p>

        {{ form_start(requestForm, {'attr': {'class': 'security'}}) }}
            
            {{ form_widget(requestForm.email, {'attr' : {'class' : 'block w-full bg-white rounded-lg border-none text-gray-900', 'placeholder': 'Votre adresse e-mail'}}) }}
            {{ form_errors(requestForm.email) }}

            <div class="text-center mt-7 text-sm">
                <button class="bg-sky-700 hover:bg-sky-800 text-white w-full font-bold py-3 text-base cursor-pointer rounded-lg transition duration-300">
                    Valider
                </button>
                <div class="mt-7 text-white">Déja inscrit? <br><a href="{{ path('app_login') }}" class="text-white hover:text-sky-800 duration-300 transition font-semibold">Identifiez-vous</a></div>
                <div class="mt-7 text-white">Pas encore de compte? <br><a href="{{ path('app_register') }}" class="text-white hover:text-sky-800 duration-300 transition font-semibold">Inscrivez-vous en moins de 5 min!</a></div>
            </div>

        {{ form_end(requestForm) }}

    </div>

{% endblock %}