{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Mes repas de la semaine{% endblock %}

{% block body %}

	<div
		{{ stimulus_controller('menu-week', {
			url: path('menu_week_menu')
		}) }}
		class="py-12"
	>

		<h1 class="text-2xl md:text-4xl mb-8 font-bold">
			Les menus par semaine
		</h1>

		<div 
			id="tableMenuWeek" 
			{{ stimulus_controller('sidebar-details-meals', {
				url: path('menu_week_get_meals')
			}) }}
		>

			{{ include('meals/week/_sidebar_details_meals.html.twig') }}

			<div id="wrapperMenuWeekDesktop" class="my-hidden lg:block">

				{{ include('meals/week/_wrapper_menu_week.html.twig') }}

			</div>

			<div id="wrapperMenuWeekMobile" class="block lg:hidden">

				{{ include('meals/week/mobile/_wrapper_menu_week.html.twig') }}

			</div>

		</div>

	</div>

{% endblock %}