{% extends "security/_layout.html.twig" %}

{% form_theme registerForm _self %}

{% block title %}S'inscrire{% endblock %}

{% block content %}

    {{ form_start(registerForm, {'attr' : {'novalidate' : 'novalidate', 'class': 'security'}}) }}

        {{ form_errors(registerForm) }}

        <div class="flex flex-col items-center">
            <h1 class="text-4xl font-bold text-white">
                Inscription
            </h1>
            <div class="mt-2 text-xl text-white text-center">Encore quelques clics pour vous connecter à votre compte !</div>
        </div>
        
        <div class="mt-8 flex flex-col gap-3 text-sm">

            <div>
                <span class="text-red-500">{{ form_errors(registerForm.email) }}</span>
                {{ form_widget(registerForm.email, {'attr': {'placeholder': 'Adresse e-mail', 'class': 'block w-full bg-white rounded-lg border-none text-gray-900'}}) }}
            </div>

            <div>
                <span class="text-red-500">{{ form_errors(registerForm.username) }}</span>
                {{ form_widget(registerForm.username, {'attr': {'placeholder': "Nom d'utilisateur", 'class': 'block w-full bg-white rounded-lg border-none text-gray-900'}}) }}
            </div>

            <div 
                {# {{ stimulus_controller('password-validation') }} #}
            >
                <span class="text-red-500">{{ form_errors(registerForm.plainPassword) }}</span>
       
                <div data-controller="password-visibility" class="relative flex items-center">
                    {{ form_widget(registerForm.plainPassword, {'attr': {'id': 'psw', 'placeholder': "Mot de passe", 'class': 'block w-full bg-white rounded-lg border-none text-gray-900'}}) }}
                    {{ include('partials/_button_visibility_pwd.html.twig') }}
                </div>

                {# <div id="message" class="flex flex-col gap-1">
                    <label class="text-sm">Le mot de passe doit contenir:</label>
                    <div id="letter" class="invalid-password text-xs pl-6 flex items-center">Une lettre minuscule</div>
                    <div id="capital" class="invalid-password text-xs pl-6 flex items-center">Une lettre majuscule</div>
                    <div id="number" class="invalid-password text-xs pl-6 flex items-center">Un nombre</div>
                    <div id="length" class="invalid-password text-xs pl-6 flex items-center">8 caractères minimums</div>
                </div> #}

            </div>

        </div>

        <div class="flex flex-col mt-6 text-sm">
            <span class="text-red-500">{{ form_errors(registerForm.terms) }}</span>
            <div class="flex flex-row gap-1">
                <div>
                    {{ form_widget(registerForm.terms) }}
                </div>
                <div class="mt-1">
                    {{ form_label(registerForm.terms, null, {'label_attr': {'class': 'text-white font-light'}}) }}
                </div>
            </div>
        </div>

        <div class="button-group text-center mt-4">
            <button type="submit" class="bg-sky-800 hover:bg-sky-700 text-white w-full font-bold py-3 text-base cursor-pointer rounded-lg transition duration-300">Valider</button>
            <div class="mt-5 text-sm text-white">Déja inscrit? <br><a href="{{ path('app_login') }}" class="text-white hover:text-sky-700 transition duration-300 text-sm font-semibold">Identifiez-vous</a></div>
        </div>

        <div class="mt-7 text-white text-center text-sm">
			En vous inscrivant, vous acceptez nos
			<br>
			<a class="text-white hover:text-sky-700 transition duration-300 font-semibold" href="{{ path('app_terms') }}">Termes et Conditions</a>
		</div>

    {{ form_end(registerForm) }}

{% endblock %}