<footer class="text-center text-surface/75 w-full pt-4 mt-0">

	{% if app.user is null or (app.user and app.user.firstFillProfile is same as (true)) %}
		<div class="w-4/5 mx-auto flex flex-col lg:flex-row justify-center md:justify-between">

			<div class="flex flex-col items-center gap-2 mb-4 flex-1 mx-auto">
				<div class="flex flex-col gap-4 items-center lg:items-start lg:text-left">
					<h3 class="flex font-bold text-lg items-center gap-3 pb-0">
						<svg fill="#000000" height="36px" width="36px" version="1.2" baseprofile="tiny" id="forst-protection-by-Adioma.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 128 128" xml:space="preserve">
							<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
							<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
							<g id="SVGRepo_iconCarrier">
								<path d="M119.2,99.5c0.9,4-1.6,7.7-5.3,8.5l-46.8,10.7c-5.6,1.5-12.1,0.7-17.4-2.6l-21.6-13.6c-2.7-1.7-5.9-2.3-8.8-1.6L1,113.6 L0.9,85.2l25.7-14.6c5.6-2.8,11.5-0.3,16.6,2.9l31,19.6c3.2,2.1,4.2,6.5,2.1,9.7c-2.1,3.2-6.4,4.1-9.7,2.1L41.7,89.1 c-1-0.7-2.4-0.4-3.1,0.7c-0.7,1.1-0.5,2.5,0.7,3.2l24.8,15.8c2.6,1.8,5.8,2.3,8.8,1.6c3-0.8,5.6-2.7,7.3-5.3 c0.9-1.2,1.5-2.7,1.7-4.1l28.8-6.6C114.5,93.6,118.2,95.9,119.2,99.5z M60.3,48v17.4c-4.2,1.7-6.7,3.8-6.7,6.1 c0,5.5,14.2,4.1,31.3,4.1s30.6,1.3,30.6-4.1c0-2.2-2.2-4.2-5.9-5.8V48H124l-9-10.7h6l-9.1-10.8h6L107,13.6l-7.7,9.1l6.7,8.2h-6.7 l10.1,11.9H90.5V48h13.7v15.8c-4.5-1.2-10.1-2-16.2-2.2V40.4h16.2L94.1,28.5h6.7L90.5,16h6.7L85,1.7L72.8,16h6.7L69.1,28.2h7 L65.8,40.4h16.2v21.3c-6,0.2-11.6,0.9-16.2,2l0-15.7h13.7v-5.2H60.6L71,30.6h-7l6.8-7.9l-7.7-9.1L52.4,26.4h5.8l-9.1,11h6.1L46,48 H60.3z"></path>
							</g>
						</svg>
						<span>
							{% trans from 'footer' %}footer.environmental_policy{% endtrans %}
						</span>
					</h3>
					<div class="rounded p-2">
						Engagés pour l’environnement. <br>
						Nous réduisons notre empreinte numérique et privilégions des pratiques responsables afin de limiter l’impact écologique de notre plateforme.
					</div>
				</div>
			</div>

			<div class="flex flex-col items-center gap-2 mb-4 flex-1 mx-auto">
				<div class="flex flex-col gap-4 items-center lg:items-start lg:text-left">
					<h3 class="font-bold text-lg">
						{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
							{{ app.user.username }}
						{% endif %}
					</h3>
					<ul class="flex flex-col gap-4 items-center lg:items-start">
						<li>
							<a href="{{ path('app_dashboard_index') }}" class="flex flex-row gap-2 items-center">
								<i class="fa fa-home" aria-hidden="true"></i>
								<span>{% trans from 'footer' %}footer.links.home{% endtrans %}</span>
							</a>
						</li>
						<li>
							<a href="{{ path('app_profile_index') }}" class="flex flex-row gap-2 items-center">
								<svg width="20px" height="20px" fill="none" viewbox="0 0 24 24" stroke="currentColor" id="user" class="-ml-1 text-cool-gray-800 dark:text-cool-gray-200 group-hover:text-purple-600 group-focus:text-purple-600 dark:group-hover:text-purple-50 dark:group-focus:text-purple-50">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
								</svg>
								<span>{% trans from 'footer' %}footer.links.my_account{% endtrans %}</span>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="flex flex-col items-center gap-2 mb-4 flex-1 mx-auto">
				<div class="flex flex-col gap-4 items-center lg:items-start lg:text-left">
					<h3 class="font-bold text-lg">
						<a href="#" class="flex flex-row gap-2 items-center">
							{% trans from 'footer' %}footer.links.customer_service{% endtrans %}
						</a>
					</h3>
					<ul class="flex flex-col gap-4 items-center lg:items-start">
						<li>
							<a href="{{ path('app_help') }}" class="flex flex-row gap-2 items-center">
								{% trans from 'footer' %}footer.links.help_center{% endtrans %}
							</a>
						</li>
						<li>
							<a href="{{ path('app_contact') }}" class="flex flex-row gap-2 items-center">
								{% trans from 'footer' %}footer.links.contact{% endtrans %}
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="hidden xl:flex xl:flex-row">
				<div class="flex gap-4">
					<div class="font-bold text-xl text-light-blue">
						<svg width="50px" height="50px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve" fill="#0EA5E9">
							<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
							<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
							<g id="SVGRepo_iconCarrier">
								<g>
									<g>
										<path fill="#0EA5E9" d="M44,0c-3.07,0-5.875,1.16-8,3.063C33.875,1.16,31.07,0,28,0s-5.875,1.16-8,3.063C17.875,1.16,15.07,0,12,0 C5.383,0,0,5.383,0,12v32c0,9.656,5.086,14.742,9.172,18.828C12.988,66.645,16,69.656,16,76v40c0,6.617,5.383,12,12,12 s12-5.383,12-12V76c0-6.344,3.012-9.355,6.828-13.172C50.914,58.742,56,53.656,56,44V12C56,5.383,50.617,0,44,0z M48,44 c0,6.344-3.012,9.355-6.828,13.172C37.086,61.258,32,66.344,32,76v40c0,2.211-1.789,4-4,4s-4-1.789-4-4V76 c0-9.656-5.086-14.742-9.172-18.828C11.012,53.355,8,50.344,8,44V12c0-2.211,1.789-4,4-4s4,1.789,4,4v24c0,2.211,1.789,4,4,4 s4-1.789,4-4V12c0-2.211,1.789-4,4-4s4,1.789,4,4v24c0,2.211,1.789,4,4,4s4-1.789,4-4V12c0-2.211,1.789-4,4-4s4,1.789,4,4V44z M118.828,65.172C115.012,61.355,112,58.344,112,52V12c0-6.617-5.383-12-12-12S88,5.383,88,12v40 c0,6.344-3.012,9.355-6.828,13.172C77.086,69.258,72,74.344,72,84c0,1.797,0.316,44,28,44s28-42.203,28-44 C128,74.344,122.914,69.258,118.828,65.172z M100,120c-19.711,0-20-35.609-20-36c0-6.344,3.012-9.355,6.828-13.172 C90.914,66.742,96,61.656,96,52V12c0-2.211,1.789-4,4-4s4,1.789,4,4v40c0,9.656,5.086,14.742,9.172,18.828 C116.988,74.645,120,77.656,120,84C120,84.359,119.77,120,100,120z"></path>
									</g>
								</g>
							</g>
						</svg>
						SITE NUTRITION
					</div>
				</div>
			</div>

		</div>
		<div class="p-6 mt-4 text-center text-sm">
			<div>Assiette idéale © 2025 Copyright</div>
		</div>
	{% endif %}

</footer>
