<div id="header" class="flex w-full justify-between">

    <div class="flex flex-row items-center">

        <a href="{{ path('app_dashboard_index') }}" class="text-md" title="My Dashboard"><i class="fa fa-home text-gray-700" aria-hidden="true"></i></a>
    
        {% if urlIntermediates is defined %}

            {% for title, url in urlIntermediates %}

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="20" width="20" viewBox="0 0 24 24" class="text-slate-400" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                
                <a href="{{ url }}" class="text-md" title="{{ title }}">{{ title }}</a>
            
            {% endfor %}

        {% endif %}

        {% if routeIntermediates is defined %}

            {% for title, url in routeIntermediates %}

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="20" width="20" viewBox="0 0 24 24" class="text-slate-400" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                
                <a href="{{ path(url) }}" class="text-md" title="{{ title }}">{{ title }}</a>
                
            {% endfor %}

        {% endif %}

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="20" width="20" viewBox="0 0 24 24" class="text-slate-400" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
        
        <span class="tracking-tight text-slate-600 text-base md:text-xl">{{ h1_content|default('Titre') }}</span>

    </div>

</div>