<div class="card card-wrapper shadow-lg rounded-xl">

    <div class="card-col-left">

        <a href="{{ path('app_food_show', {'slug': food.slug}) }}" class="flex items-center justify-center h-full">

            {% if food.picture is not null and food.picturePath is defined %}
                <img class="rounded-md" alt="Photo de l'aliment {{ food.name }}" src="{{ food.picturePath|imagine_filter('squared_thumbnail_medium') }}" width="250px">
            {% else %}
                <img class="rounded-md" alt="Photo de l'aliment {{ food.name }}" src="https://via.placeholder.com/500">
            {% endif %}
            
        </a>

        <div class="flex flex-col gap-2">

            <a href="{{ path('app_food_show', {'slug': food.slug}) }}" class="block text-base truncate">
                {{ food.name }}
            </a>

            {{ include('food/_miscellaneous_informations.html.twig') }}

        </div>

    </div>

    <div class="card-col-right">

        <div>{{ include('food/_nutritional_informations.html.twig') }}</div> 

        {% if app.session.has('recipe_dish') %}

            <div class="select-quantity">

                <input name="foods[{{ food.id }}][quantity]" type="number" step="0.01" class="form-control col-span-6 w-1/2" placeholder="Quantité" aria-label="default input inline 1"> 
            
                <select name="foods[{{ food.id }}][unit_measure]" class="form-select sm:mr-2 col-span-6" aria-label="Default select example">
                
                    {% for unitMeasure in food.unitMeasures %}

                        {% if (unitMeasure.gramRatio is not null) or (food.canBeAPart == true and unitMeasure.gramRatio is null) %}
                
                            <option value="{{ unitMeasure.alias }}" 
                            
                                {% if food.foodGroup.alias in app.session.get('recipe_foods')|keys 
                                and food.id in app.session.get('recipe_foods')[food.foodGroup.alias]|keys
                and app.session.get('recipe_foods')[food.foodGroup.alias][food.id]['unit_measure'] == unitMeasure.alias %} 
                                    selected="selected"
                                {% endif %}>

                                {{ unitMeasure.alias }}
                                
                            </option>

                        {% endif %}

                    {% endfor %}
                
                </select>
            
            </div>

        {% endif %}
    
    </div>

</div>


