{% for foodGroup in foodGroups %}

    {# Bouton représentant un groupe alimentaire #}
    <button 
        type="button" 
        class="btn-foodgroup font-bold px-4 py-3 rounded uppercase text-sm
               {% if foodGroup.id in foodGroupsSelected|default('') or foodGroupsSelected|default('') is empty %} selected{% endif %}" 
        style="background-color: {{ foodGroup.parent.degradedColor }}; color: {{ foodGroup.parent.color }}" 
        data-action="reload-content#onSelectFoodGroup" 
        data-food-group-id="{{ foodGroup.id }}" 
        data-reload-content-target="foodGroup"
    >

        {# Version texte complète pour écrans moyens et grands #}
        <div class="my-hidden md:flex">
            {{ foodGroup.semiShortName|upper }}
        </div>

        {# Version abrégée pour petits écrans (initiales) #}
        <div class="flex md:my-hidden">
            {% set text = foodGroup.name %}
            {% set words = text|split(' ') %}

            {% if words|length == 1 %}
                {# Si un seul mot, afficher juste la première lettre #}
                {{ words[0]|first }}
            {% else %}
                {# Si plusieurs mots, combiner les initiales des mots sauf le dernier + première lettre du dernier mot #}
                {% set initials = words[0:-1]|map(word => word|first)|join('') %}
                {% set lastWord = words|last %}
                {{ ' ' ~ initials ~ lastWord|slice(0,1)|upper ~ lastWord|slice(1,2) }}
            {% endif %}
        </div>
        
    </button>

{% endfor %}