<div class="pb-2 flex items-center justify-center text-base font-medium text-red-700 border-b border-red-700 w-full">
    <center>{% trans from 'profile' %}profile.energy.title{% endtrans %}</center>
    {% if app.user.isWeightGoalActive is same as(false) %}
        <a href="{{ path('app_profile_edit', {element : constant('App\\Service\\ProfileHandler::ENERGY')}) }}" class="ml-4">
            <svg class="w-5 h-5 text-red-700 hover:text-gray-500 transition-colors duration-200" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9087 3.87352C16.4681 3.31421 17.2266 3 18.0176 3C18.4093 3 18.7971 3.07714 19.1589 3.22702C19.5208 3.3769 19.8495 3.59658 20.1265 3.87352C20.4034 4.15046 20.6231 4.47924 20.773 4.84108C20.9229 5.20292 21 5.59074 21 5.98239C21 6.37404 20.9229 6.76186 20.773 7.1237C20.6231 7.48554 20.4034 7.81432 20.1265 8.09126L19.0231 9.19466C18.6326 9.58519 17.9994 9.58519 17.6089 9.19467L14.8053 6.39114C14.4148 6.00062 14.4148 5.36745 14.8053 4.97693L15.9087 3.87352ZM13.3911 7.80536C13.0006 7.41483 12.3674 7.41483 11.9769 7.80536L5.01084 14.7714C4.37004 15.4122 3.91545 16.2151 3.69566 17.0943L3.02986 19.7575C2.94467 20.0982 3.04452 20.4587 3.2929 20.7071C3.54128 20.9555 3.90177 21.0553 4.24254 20.9701L6.90572 20.3043C7.78488 20.0846 8.58778 19.63 9.22857 18.9892L16.1946 12.0231C16.5852 11.6326 16.5852 10.9994 16.1946 10.6089L13.3911 7.80536Z" fill="currentColor"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M12 20C12 19.4477 12.4477 19 13 19L20 19C20.5523 19 21 19.4477 21 20C21 20.5523 20.5523 21 20 21L13 21C12.4477 21 12 20.5523 12 20Z" fill="currentColor"></path> </g></svg>
        </a>
    {% endif %}
    
</div>

<div class="pt-4 flex items-center justify-center my-2 text-xl text-red-700 font-bold gap-2">

    <a href="{{ path('app_energy_explanation') }}">
        <svg class="w-6 h-6 text-red-700" fill="currentColor" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 416.979 416.979" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M356.004,61.156c-81.37-81.47-213.377-81.551-294.848-0.182c-81.47,81.371-81.552,213.379-0.181,294.85 c81.369,81.47,213.378,81.551,294.849,0.181C437.293,274.636,437.375,142.626,356.004,61.156z M237.6,340.786 c0,3.217-2.607,5.822-5.822,5.822h-46.576c-3.215,0-5.822-2.605-5.822-5.822V167.885c0-3.217,2.607-5.822,5.822-5.822h46.576 c3.215,0,5.822,2.604,5.822,5.822V340.786z M208.49,137.901c-18.618,0-33.766-15.146-33.766-33.765 c0-18.617,15.147-33.766,33.766-33.766c18.619,0,33.766,15.148,33.766,33.766C242.256,122.755,227.107,137.901,208.49,137.901z"></path> </g> </g></svg>
    </a>

    <div class="flex flex-col gap-3">
    
        {% if app.user.energy %}

            <div class="flex flex-col">
                {{ '%kcal% kCal / %kj% kJ'|replace({"%kcal%": app.user.energy|round, "%kj%": app.user.energyKj|round}) }}
                {# {% if app.user.automaticCalculateEnergy is same as(false) %}
                    <span class="text-xs font-light">(calculée par vous même)</span>
                {% endif %} #}
            </div>

        {% else %}
        
            <div class="text-base flex flex-col items-center gap-4">

                {% if app.user.automaticCalculateEnergy is same as(false) %}

                    <span>Vous n'avez pas indiqué votre besoin énergétique quotitien</span>

                {% endif %}

                {% if missingElements|length > 0 %}

                    <p>Il nous manque des informations afin que nous puissions calculer votre besoin energétique journalier:
                        {{ missingElements|join(',', ' et ') }}
                        <br/>Merci de compléter ces informations ou 
                    </p>

                {% else %}

                    <a href="{{ path('app_energy_estimate') }}" 
                            class="text-dark-blue text-black p-2 rounded-full">
                        Laissez l'application estimer mon besoin énergétique
                    </a>

                {% endif %}   

                <div class="flex flex-row text-sm gap-2">
                    <a href="{{ path('app_profile_edit', {element : constant('App\\Service\\ProfileHandler::ENERGY')}) }}"
                                class="text-white bg-dark-blue p-2 rounded-full">
                        Saisir votre besoin
                    </a> 
                </div>

            </div>

        {% endif %}

    </div>

</div>

{% if balanceEnergyAlerts and balanceEnergyAlerts.code != constant('App\\Entity\\Alert\\LevelAlert::BALANCE_WELL') %}

    <div 
        {{ stimulus_controller('energy-alert-modal') }}
        class="w-full flex justify-center"
    >

        <button 
            id="energyAlertBtn" class="flex flex-row text-red-700 my-2 text-sm items-center px-2"
            data-action="click->energy-alert-modal#open"
        >
            <svg class="w-6 h-6 text-red-700" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 5L12 14" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M13.8417 18.8417C13.8417 19.8588 13.0171 20.6833 12 20.6833C10.9829 20.6833 10.1583 19.8588 10.1583 18.8417C10.1583 17.8245 10.9829 17 12 17C13.0171 17 13.8417 17.8245 13.8417 18.8417Z" fill="currentColor"></path> </g></svg>
            Votre besoin énergétique est {{ balanceEnergyAlerts.text|lower }}
        </button>

        {# Modal #}
        <div 
            class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 hidden" 
            data-energy-alert-modal-target="modal"
        >

            <div class="bg-white rounded-xl shadow-lg max-w-lg w-full p-12 relative">

                <button data-action="click->energy-alert-modal#close" class="absolute top-4 right-4 text-xl text-sky-600 hover:text-sky-700 font-bold">
                    <svg class="w-5 h-5 text-sky-600" fill="none" viewBox="0 0 14 14" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
                    </svg>
		        </button>

                <h2 class="text-xl font-bold mb-4 text-red-700">
                    Vos besoins énergétiques quotidiens sont {{ balanceEnergyAlerts.placeholderText|lower }}
                </h2>

                <p class="text-gray-700 mt-6 mb-4">

                    {% if balanceEnergyAlerts.code in constant('App\\Entity\\Alert\\LevelAlert::LOW_ALERTS') %}

                        Vos besoins énergétiques actuels sont inférieurs à ceux recommandés par l’application.<br><br>

                        Actuellement de <strong>{{ app.user.energy|round }} Kcal</strong>, nous estimons que votre apport devrait être d’environ  
                        <strong>{{ app.user.energyCalculate|round }} kcal</strong> par jour.<br><br>

                        Si vous persistez à consommer moins que cette recommandation,  
                        votre IMC risque de devenir trop bas.<br><br>

                        Cela peut entraîner des problèmes de santé tels que :  
                        fatigue importante, carences nutritionnelles, perte musculaire  
                        ou baisse générale de vitalité.<br><br>

                        Nous vous conseillons d’ajuster progressivement votre apport  
                        pour vous rapprocher de la valeur conseillée.

                    {% elseif balanceEnergyAlerts.code in constant('App\\Entity\\Alert\\LevelAlert::HIGH_ALERTS') %}

                        Vos besoins énergétiques actuels sont supérieurs à ceux recommandés par l’application.<br><br>

                        Actuellement de <strong>{{ app.user.energy|round }} Kcal</strong>, nous estimons que votre apport devrait être d’environ  
                        <strong>{{ app.user.energyCalculate|round }} kcal</strong> par jour.<br><br>

                        En continuant à consommer davantage que cette recommandation,  
                        votre IMC pourrait devenir trop élevé.<br><br>

                        Cela peut augmenter les risques pour votre santé :  
                        prise de poids excessive, problèmes cardiovasculaires  
                        ou déséquilibres métaboliques.<br><br>

                        Il est conseillé de réduire progressivement votre apport  
                        afin de revenir vers le niveau recommandé.

                    {% endif %}

                </p>


                <p class="text-gray-700">
                    Suivez ces recommandations pour rester dans la zone saine et éviter d’affecter votre IMC et votre santé.
                </p>

            </div>

        </div>

    </div>

{% endif %}
    
