{# ------------------------------------------------------------------------ #}
{# Récupération de l'entité correspondante à l'item (plat ou aliment)        #}
{# 'object' crée une instance à partir de l'ID et du type fourni             #}
{# ------------------------------------------------------------------------ #}
{% set element = object(item['id'], 'App\\Entity\\' ~ item['type']) %}

{# Container principal pour l'item pré-sélectionné dans le sidebar           #}
<div id="itemPreselected-{{ item['id'] }}" class="flex flex-col">

    {# -------------------------------------------------------------------- #}
    {# Affichage des alertes associées à cet item si on n'est pas en mode 'model' #}
    {# - Utilisation du contrôleur AlertController::show                    #}
    {# - Paramètres : type de l'élément, ID, sélectionné, rang du repas/plat #}
    {# -------------------------------------------------------------------- #}
    {% if app.session.get('_meal_day_date') != 'model' %}
        {{ render(controller(
            "App\\Controller\\meal\\AlertController::show",
            {
                'class' : item.type,
                'dishOrFoodId' : element.id,
                'isSelected' : true,
                'rankMeal' : item.rankMeal,
                'rankDish' : item.rankDish
            }
        )) }}
    {% endif %}

    {# -------------------------------------------------------------------- #}
    {# Ligne principale de l'item                                            #}
    {# - Flex row pour image + infos                                        #}
    {# - Bordure colorée si couleur d'alerte courante dans la session       #}
    {# -------------------------------------------------------------------- #}
    <div class="flex flex-row items-start p-2 bg-gray text-sm font-medium gap-2 shadow-md relative"
         {% if app.session.has('color_current_alert') %}
             style="border: 1px solid {{ app.session.get('color_current_alert') }}"
         {% endif %}>

        {# ---------------------------------------------------------------- #}
        {# Affichage de l'image de l'élément                                 #}
        {# - Si une image existe, on l'affiche avec filtre Thumbnail         #}
        {# - Sinon, placeholder par défaut                                    #}
        {# ---------------------------------------------------------------- #}
        {% if element.picture is not null and element.picturePath is not null %}
            <img alt="Image" class="rounded-lg w-12" src="{{ element.picturePath|imagine_filter('squared_thumbnail_small') }}">
        {% else %}
            <img src="https://placehold.co/50x50" alt="Photo plat" width="100px" class="rounded-lg">
        {% endif %}

        {# ---------------------------------------------------------------- #}
        {# Informations textuelles de l'item                                 #}
        {# - Quantité + unité + nom de l'élément                              #}
        {# - Couleurs des groupes alimentaires si c'est un plat ou aliment    #}
        {# ---------------------------------------------------------------- #}
        <div class="flex flex-col justify-around px-4 leading-normal gap-2">

            {# Nom + quantité + unité #}
            <h5 class="text-l font-bold text-sm tracking-tight">
                {{ item.quantity }}
                {{ item.unitMeasureAlias }}
                <span>de</span>
                {{ element.name }}
            </h5>

            {# Liste des couleurs FGP (groupes alimentaires) #}
            {% if instanceOf(element, 'App\\Entity\\Dish') %}
                {# Si plat, inclut la liste des couleurs via template dédié #}
                {{ include('dish/_list_fgp_colors.html.twig', { dish: element }) }}
            {% else %}
                {# Si aliment, affichage simple du parent FGP #}
                <div class="list-fgp flex flex-row gap-2">
                    <div class="w-3 h-3 rounded-sm" style="border: 1px solid {{ element.foodGroup.parent.color }}; background-color: {{ element.foodGroup.parent.color }}"></div>
                </div>
            {% endif %}
        
        </div>

        {# ---------------------------------------------------------------- #}
        {# Bouton pour supprimer cet item de la sélection                   #}
        {# - Appelle la méthode removeItem du controller Stimulus           #}
        {# - Passe ID de l'élément, rang du repas/plat et URL de suppression#}
        {# ---------------------------------------------------------------- #}
        <button 
            type="button"
            class="absolute top-2 right-2"
            data-action="sidebar-list-dishes#removeItem"
            data-item-id="{{ element.id }}"
            data-rank-meal="{{ item.rankMeal }}" 
            data-rank-dish="{{ item.rankDish }}"
            data-url-remove-preselect-item="{{ path('meal_sidebar_remove_preselect_item', { id: element.id, type: item.type }) }}"
        >
            {# Icône croix pour suppression #}
            <svg fill="#1D1D1F" class="w-4 h-4" viewBox="-3.5 0 19 19" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.383 13.644A1.03 1.03 0 0 1 9.928 15.1L6 11.172 2.072 15.1a1.03 1.03 0 1 1-1.455-1.456l3.928-3.928L.617 5.79a1.03 1.03 0 1 1 1.455-1.456L6 8.261l3.928-3.928a1.03 1.03 0 0 1 1.455 1.456L7.455 9.716z"></path>
            </svg>
        </button>

    </div>

</div>