
<div id="slideover-container" class="w-full h-screen fixed inset-0 invisible z-40">

		<div data-action="click->sidebar-list-dishes#removeAllItem click->sidebar-list-dishes#toggleSlideover" id="slideover-bg" class="w-full h-full duration-500 ease-out transition-all inset-0 absolute bg-gray-900 opacity-0"></div>

		<div id="slideover" class="w-full bg-white h-full absolute right-0 bottom-0 duration-300 ease-out transition-all translate-y-full">

			{# <div data-action="click->sidebar-list-dishes#removeAllItem click->sidebar-list-dishes#toggleSlideover" class="absolute cursor-pointer text-gray-600 top-0 w-8 h-8 flex items-center justify-center right-0 mt-5 mr-5 z-20">
				<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
			</div> #}

			{# <button
				id="btnCancelSelection"
				class="flex items-center text-sky-600 hover:text-sky-700 gap-2 cursor-pointer ml-auto p-4"
				data-action="click->sidebar-list-dishes#toggleSlideover"
			>
				<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
				</svg>
				<span>Fermer</span>
			</button> #}

			<div 
				id="container-list" 
				class="container-list flex flex-col overflow-y-auto pb-10 flex-1 current-background-color h-screen"
			>

				<div class="flex flex-col gap-2 sticky bg-white h-min-40 w-full items-center top-0 z-10 current-shadow">

					<div class="flex flex-row justify-between w-full px-4 items-center">

						<div class="w-full">

							{# {{ include("partials/_header.html.twig", { h1_content: h1_content }) }} #}

							<div class="flex flex-row items-center pt-4">

								<a href="{{ path('app_dashboard_index') }}" class="text-md" title="My Dashboard"><i class="fa fa-home" aria-hidden="true"></i></a>
							
								{% if urlIntermediates is defined %}
									{% for title, url in urlIntermediates %}
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" height="20" width="20" viewBox="0 0 24 24" class="text-slate-400" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
										<a href="{{ url }}" class="text-md" title="{{ title }}">{{ title }}</a>
										{# <a href="#" class="text-md" title="{{ title }}">{{ title }}</a> #}
									{% endfor %}
									{# <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="20" width="20" viewBox="0 0 24 24" class="text-slate-400" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg> #}
								{% endif %}

								{% if routeIntermediates is defined %}
									{% for title, url in routeIntermediates %}
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" height="20" width="20" viewBox="0 0 24 24" class="text-slate-400" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
										<a href="{{ path(url) }}" class="text-md" title="{{ title }}">{{ title }}</a>
										{# <a href="#" class="text-md" title="{{ title }}">{{ title }}</a> #}
									{% endfor %}
									{# <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="28" width="28" viewBox="0 0 24 24" class="text-slate-400" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg> #}
								{% endif %}

								<svg xmlns="http://www.w3.org/2000/svg" fill="none" height="20" width="20" viewBox="0 0 24 24" class="text-slate-400" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
								
								<span class="tracking-tight text-slate-600 text-base md:text-xl">{{ h1_content|default('Titre') }}</span>

								<button
									id="btnCancelSelection"
									class="flex md:hidden items-center text-sky-600 hover:text-sky-700 gap-2 cursor-pointer ml-auto text-sm"
									data-action="click->sidebar-list-dishes#toggleSlideover"
								>
									<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
									</svg>
								</button>

							</div>

							<div id="slideOverTypeDish" class="text-sm py-2 hidden text-center uppercase ml-9"></div>

							<input type="hidden" id="slideOverRankMeal" />
							<input type="hidden" id="slideOverRankDish" />
							<input type="hidden" id="slideOverUpdateDish" />

							<div id="sidebarTotalEnergyMobile" class="w-full h-[62px] flex md:hidden text-lg md:text-4xl justify-end">
								{{ render(path('meal_day_show_total_energy_on_list_item', {'showPopover': false, 'bg': 'bg-gray-200', 'paddingX': 0})) }}
							</div>

						</div>

						<div class="h-[62px] my-hidden md:flex text-lg md:text-4xl ml-0 md:ml-auto mr-0 flex-col">
							<button
									id="btnCancelSelection"
									class="flex items-center text-sky-600 hover:text-sky-700 gap-2 cursor-pointer ml-auto text-sm pt-4"
									data-action="click->sidebar-list-dishes#toggleSlideover"
								>
								<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
								</svg>
								<span>Fermer</span>
							</button>
							<div id="sidebarTotalEnergyDesktop">
								{{ render(path('meal_day_show_total_energy_on_list_item', {'showPopover': false, 'bg': 'bg-gray-200', 'paddingX': 0})) }}
							</div>
						</div>

					</div>

					<div class="flex flex-col gap-2">

						<form class="w-full flex flex-col items-start gap-3 px-4">

							<input 
								name="q"
								type="search" 
								class="search-sidebar-list-item rounded-slate-800 w-full lg:w-1/2 rounded-lg"
								placeholder="Aliment, plat..."
								data-sidebar-list-dishes-target="search"
								data-reload-content-target="search"
								data-action="reload-content#onSearchInput"
							/>

							<div class="flex flex-col md:flex-row gap-2">

								<div class="flex flex-row gap-2 items-center">
									<button
										type="button"
										data-action="reload-content#onSelectAllFoodGroup"
										data-reload-content-target="selectAllFoodGroup"
										class="flex items-center justify-center current-shadow px-2 py-3 gap-2 cursor-pointer text-sm rounded-lg text-white bg-light-blue hover:bg-sky-600 transition duration-300 hover:text-white"
									>
										{# <svg fill="#fff" viewBox="0 0 24 24" class="w-3 h-3" id="add-collection" data-name="Line Color" xmlns="http://www.w3.org/2000/svg" class="icon line-color" stroke="#fff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path id="secondary" d="M7,10h6M10,7v6" style="fill: none; stroke: #fff; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path><path id="primary" d="M7,21H20a1,1,0,0,0,1-1V5" style="fill: none; stroke: #fff; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path><rect id="primary-2" data-name="primary" x="3" y="3" width="14" height="14" rx="1" style="fill: none; stroke: #fff; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></rect></g></svg> #}
										<span>Tous les groupes</span>
									</button>
									<button
										type="button"
										data-action="reload-content#onDeselectAllFoodGroup"
										data-reload-content-target="deselectAllFoodGroup"
										class="flex items-center justify-center current-shadow px-2 py-3 gap-2 cursor-pointer text-sm rounded-lg text-dark-blue bg-white hover:bg-sky-600 transition duration-300 hover:text-white"
									>
										{# <svg fill="#fff" viewBox="0 0 24 24" class="w-3 h-3" id="minus-collection" data-name="Line Color" xmlns="http://www.w3.org/2000/svg" class="icon line-color" stroke="#fff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><line id="secondary" x1="7" y1="10" x2="13" y2="10" style="fill: none; stroke: #fff; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></line><path id="primary" d="M7,21H20a1,1,0,0,0,1-1V5" style="fill: none; stroke: #fff; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path><rect id="primary-2" data-name="primary" x="3" y="3" width="14" height="14" rx="1" style="fill: none; stroke: #fff; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></rect></g></svg> #}
										<span>Aucun groupe</span>
									</button>
								</div>

								<div class="flex flex-col md:flex-row items-start md:items-center md:gap-2">

									<div class="flex flex-row gap-2 mb-2 md:mb-0">
										<button 
											type="button" 
											class="btn-type-item selected px-2 py-3 text-sm current-shadow cursor-pointer rounded-lg hover:bg-sky-600 transition duration-300 hover:text-white"
											data-reload-content-target="typeItem" 
											data-action="reload-content#onSelectTypeItem" 
											data-type-item="dish">
												Les plats
										</button>
										<button 
											type="button" 
											class="btn-type-item selected px-2 py-3 text-sm cursor-pointer rounded-lg current-shadow hover:bg-sky-600 transition duration-300 hover:text-white"
											data-reload-content-target="typeItem" 
											data-action="reload-content#onSelectTypeItem" 
											data-type-item="food">
												Les aliments
										</button>
									</div>

									<div class="flex flex-row gap-2">
										{{ include('meals/partials/_button_gluten_lactose.html.twig', {'with_shadow': true}) }}
									</div>

								</div>

							</div>

						</form>

						<div class="flex flex-row items-center flex-wrap gap-4 mt-2 mb-4 px-4">
							{{ include('/foodgroup/_foodgroup_list.html.twig') }}
						</div>

					</div>

					{# <div id="list-selected-item" class="w-full">
						{{ include('meals/day/_sidebar_list_item_preselected.html.twig') }}
					</div> #}

				</div>

				<div 
					{# class="list mt-8" #}
					id="wrapper"
					class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 mx-auto gap-4 z-0 pt-6 px-4"
					data-sidebar-list-dishes-target="content"
					data-reload-content-target="content"
				></div>

				<div 
					class="container-loader flex w-full h-full items-center justify-center mt-5"
					data-reload-content-target="loader"
				>
					<div class="loader"></div>
				</div>

				<div class="mt-8 mb-8 flex h-10 w-full justify-center">
					<button
						{# id="btnLoadMore" #}
						type="button"
						class="bg-gray-200 px-4 py-2 h-10 text-sm rounded-lg text-gray-500 hover:text-gray-900 transition duration-300 before:content-none after:content-none"
						data-action="reload-content#onLoadMore"
						data-reload-content-target="loadMore"
						{# data-page="{{ page }}"  #}
						{# data-rank-meal="{{ rankMeal }}" #}

						{# A CONSERVER MAIS MODIFIER DYNAMIQUEMENT #}
						{# data-rank-dish="{{ rankDish }}" #}
					>
						Voir plus de plat...
					</button>
				</div>

				{# <div class="container-load-more flex-col items-center h-full hidden">
					
					<div class="flex flex-col items-center justify-center mt-44">
						<div class="no-result text-sky-400">
							Aucun résultat
						</div>
					</div>

				</div>			 #}

			</div>

		</div>

	</div>