<div class="flex flex-col gap-4 p-4 justify-center">
  
        <div id="listPreselectedItem" class="flex flex-wrap gap-2 w-full grid grid-cols-4">
            {# {% for item in app.session.get('_meal_day_preselected_items') %}
                {% set element = object(item['id'], 'App\\Entity\\' ~ item['type']) %}
                <div class="flex items-center py-1 px-2 rounded-full bg-gray text-sm font-medium gap-2 shadow-md">
                    {{ item.quantity }}
                    {{ item.unitMeasureAlias }}
                    <span>de</span>
                    {{ element.name }}
                    <button 
                        type="button"
                        class="border-l pl-1"
                        data-action="sidebar-list-dishes#removePreselect"
                        data-item-id="{{ item.id }}"
                        data-rank-meal="{{ rankMeal }}" 
                        data-rank-dish="{{ rankDish }}"
                        data-url-preselect-item="{{ path('meal_sidebar_remove_preselect_item', { id: item.id, type: item.type }) }}"
                    >
                        <svg fill="#1D1D1F" class="w-4 h-4" viewBox="-3.5 0 19 19" xmlns="http://www.w3.org/2000/svg" class="cf-icon-svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M11.383 13.644A1.03 1.03 0 0 1 9.928 15.1L6 11.172 2.072 15.1a1.03 1.03 0 1 1-1.455-1.456l3.928-3.928L.617 5.79a1.03 1.03 0 1 1 1.455-1.456L6 8.261l3.928-3.928a1.03 1.03 0 0 1 1.455 1.456L7.455 9.716z"></path></g></svg>
                    </button>
                </div>
            {% endfor %} #}
        </div>
        {# <div class="flex w-1/2 items-start justify-start">
            <button 
                type="button"
                data-rank-meal="{{ rankMeal }}" 
                data-rank-dish="{{ rankDish }}"
                data-url-reload="{{ path('meal_day') }}"
                class="py-4 px-6 rounded-sm text-sm font-medium bg-dark-blue text-white font-medium"
                data-action="sidebar-list-dishes#reloadMeals"
            >
                Revenir aux repas
            </button>
        </div> #}

</div>