{# Conteneur principal pour la ligne de contrôle des plats du repas #}
<div class="flex gap-1 items-center {% if app.session.get('_meal_day_' ~ rankMeal)['dishAndFoods'] is not empty %}pt-4{% endif %}">

    {# Partie gauche : checkbox pour sélectionner tous les plats et bouton supprimer #}
    <div class="flex gap-2 items-center p-2">

        {# Checkbox “Sélectionner tous les plats” visible uniquement si le repas contient des plats #}
        {% if app.session.get('_meal_day_' ~ rankMeal)['dishAndFoods'] is not empty %}
            <input 
                type="checkbox" 
                class="cursor-pointer ml-2" 
                data-action="meal#selectAllDishes" 
                data-meal-target="selectAllDishes" 
                data-rank-meal="{{ rankMeal }}"
            />
        {% endif %}

        {# Bouton “Supprimer” pour supprimer les plats sélectionnés #}
        <button 
            data-action="meal#onRemoveSelection" 
            class="p-2 bg-red-600 text-white font-medium rounded-lg hidden ml-2 text-base"
            data-url-remove-selection="{{ path('meal_day_remove_dish_selection', { rankMeal: rankMeal }) }}"
            data-meal-target="btnRemoveSelection"
            data-rank-meal="{{ rankMeal }}"
        >
            Supprimer
        </button>

    </div>

    {# Partie droite : bouton pour ouvrir le slideover / ajouter un plat #}
    <div class="flex ml-auto">

        <button 
            {{ stimulus_controller('ripple') }}
            data-action="sidebar-list-dishes#toggleSlideover reload-content#openSidebarList click->ripple#ripple"
            data-type-meal-target="btnOpenSlidebar"
            class="p-3 md:p-4 flex items-center gap-2 font-bold text-sm md:text-base cursor-pointer mr-1" 
            data-rank-meal="{{ rankMeal }}" 
            data-rank-dish="{{ rankDish }}"
            data-update-dish="none"
            data-type-dish="{{ app.session.get('_meal_day_' ~ rankMeal)['type']|trans({}, 'meal') }}"
        >
            {# Cercle avec icône “+” pour ajouter un plat ou aliment #}
            <div class="inline-block rounded-full group shadow-soft">
                <svg viewBox="0 0 24 24" class="w-12 h-12 transition-colors duration-300" xmlns="http://www.w3.org/2000/svg">
                    <rect
                        x="0"
                        y="0"
                        width="24"
                        height="24"
                        rx="12"
                        class="fill-gray-400 group-hover:fill-gray-500 transition-colors duration-300 rounded-full"
                    />
                    <path
                        d="M17 13H13V17H11V13H7V11H11V7H13V11H17Z"
                        fill="white"
                    />
                </svg>
            </div>

        </button>

    </div>

</div>