{% for item in app.session.get('_meal_day_' ~ rankMeal)['dishAndFoods'] %}

	{% set element = object(item['id'], 'App\\Entity\\' ~ item['type']) %}

	<div 
		class="row-dish flex py-2 items-center{% if loop.index0 is odd %} bg-gray-slight{% endif %}" 
		{{ stimulus_controller('dishes-meal', {
			urlRemoveItem: path('meal_day_remove_dish', { 'rankMeal': rankMeal, 'rankDish': loop.index0, 'ajax': 1 }),
			urlReload: path('meal_day', { 'ajax': 1 }),
		}) }}
	>		

		<div class="dish flex relative items-center w-1/2">
			
			<div class="h-6 ml-4 md:mr-4 flex items-center justify-center">
				<input
					type="checkbox" 
					data-meal-target="selectDish"
					data-action="meal#selectDish"
					data-rank-meal="{{ rankMeal }}"
					value="{{ loop.index0 }}"
					class="cursor-pointer"
				/>
			</div>

			<div class="text-base text-slate-300 font-bold pl-2 w-4">{{ loop.index }}</div>
			
			<div>
				{% if element.picture is not null and element.picturePath is not null %}
					<img src="{{ element.picturePath|imagine_filter('squared_thumbnail_small') }}" alt="pic-{{ element.slug }}" class="rounded-lg w-4 md:w-10" style="max-width: 60px; min-width: 35px">
				{% else %}
					<img src="https://placehold.co/20x20" alt="Photo plat" class="rounded-lg" style="max-width: 35px; min-width: 35px" />
				{% endif %}
			</div>

			<div class="flex flex-col mr-8 w-2/3 py-2">

				<a 
					class="text-sm font-semibold tracking-tight text-sky-600 hover:text-sky-700 transition duration-300"
					style="line-height: 13px"
					{% if instanceOf(element, 'App\\Entity\\Dish') %}
						href="{{ path('app_dish_show', { id: element.id, slug: element.slug }) }}"
					{% else %}
						href="{{ path('app_food_show', { slug: element.slug }) }}"
					{% endif %}
					role="option"
				>
					{{ element.name }}
				</a>

				<span class="text-xs text-neutral-500">
					{{ item['quantity'] }} 
					{% if item['type'] == 'Dish' %}portion{{ item['quantity'] > 1 ? "s" : ""}}{% else %}{{ item['unitMeasureAlias'] }}{% endif %}
				</span>
				
			</div>

			{% if app.session.get('_meal_day_date') != 'model' %}
				<div class="w-1/3">
				{{ render(controller("App\\Controller\\meal\\AlertController::show", {'class' : item.type, 'dishOrFoodId' : element.id, 'isSelected' : true, 'rankMeal' : rankMeal, 'rankDish' : loop.index0})) }}
				</div>
			{% endif %}

		</div>

		<div class="flex relative items-center w-1/5 md:w-1/2">

			<div class="list-fgp items-center justify-center my-hidden lg:flex">
				{{ render(controller("App\\Controller\\meal\\DefaultController::fgpQuantitiesByDishOrFood", { item: item })) }}
			</div>

			<div class="flex ml-auto md:pr-6">
				
				<div class="my-hidden md:flex items-center text-xs md:text-sm md:mr-12 lg:mr-36 text-gray-700">
					<span class="px-2 py-1">{{ render(controller("App\\Controller\\meal\\DefaultController::energyForDishOrFood", { item: item })) }}</span>
				</div>

				<div class="flex items-center gap-2">

					<button 
						data-action="sidebar-list-dishes#toggleSlideover reload-content#openSidebarList"
						class="update-dish g-white rounded-lg flex items-center gap-2 font-bold text-sm pr-2 mr-6" 
			
						data-rank-meal="{{ rankMeal }}" 
						data-rank-dish="{{ loop.index0 }}"
						data-update-dish="{{ loop.index0 }}"
						data-type-dish="{{ app.session.get('_meal_day_' ~ rankMeal)['type']|trans({}, 'meal') }}"
					>

						<svg class="w-5 h-5 text-gray-500" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9087 3.87352C16.4681 3.31421 17.2266 3 18.0176 3C18.4093 3 18.7971 3.07714 19.1589 3.22702C19.5208 3.3769 19.8495 3.59658 20.1265 3.87352C20.4034 4.15046 20.6231 4.47924 20.773 4.84108C20.9229 5.20292 21 5.59074 21 5.98239C21 6.37404 20.9229 6.76186 20.773 7.1237C20.6231 7.48554 20.4034 7.81432 20.1265 8.09126L19.0231 9.19466C18.6326 9.58519 17.9994 9.58519 17.6089 9.19467L14.8053 6.39114C14.4148 6.00062 14.4148 5.36745 14.8053 4.97693L15.9087 3.87352ZM13.3911 7.80536C13.0006 7.41483 12.3674 7.41483 11.9769 7.80536L5.01084 14.7714C4.37004 15.4122 3.91545 16.2151 3.69566 17.0943L3.02986 19.7575C2.94467 20.0982 3.04452 20.4587 3.2929 20.7071C3.54128 20.9555 3.90177 21.0553 4.24254 20.9701L6.90572 20.3043C7.78488 20.0846 8.58778 19.63 9.22857 18.9892L16.1946 12.0231C16.5852 11.6326 16.5852 10.9994 16.1946 10.6089L13.3911 7.80536Z" fill="currentColor"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M12 20C12 19.4477 12.4477 19 13 19L20 19C20.5523 19 21 19.4477 21 20C21 20.5523 20.5523 21 20 21L13 21C12.4477 21 12 20.5523 12 20Z" fill="#000000"></path> </g></svg>
					
					</button>

				</div>

			</div>

		</div>

	</div>

{% endfor %}

