<div class="flex w-full">

    {# Conteneur principal du repas avec stimulus controller pour gérer le type de repas #}
    <div id="meal-{{ rankMeal }}" 
         class="meal flex flex-col w-full" 
         {{ stimulus_controller('type-meal', { 
            url: path('meal_day_update_type_meal'),
            urlReload: path('meal_day', { ajax: 1 }), 
            rankMeal: rankMeal }) 
        }}
    >

        {# Zone pour les modèles de repas (vide ici) #}
        <div class="container-list-meal-model"></div>

        <div class="relative">
            {# Checkbox de sélection du repas (visible seulement si ce n’est pas un modèle) #}
            {% if app.session.get('_meal_day_date') != 'model' %}
                <div class="my-hidden md:flex absolute -left-6 top-0 items-center h-full justify-center">
                    <input type="checkbox" class="cursor-pointer mt-0 mb-2" data-meal-target="selectMeal" data-action="meal#selectMeal" value="{{ rankMeal }}"/>
                </div>
            {% endif %}

            {# Inclusion du template pour le type de repas #}
            {{ include('meals/day/type_meal.html.twig') }}
        </div>

        {# Conteneur des plats/aliments du repas #}
        <div class="flex flex-col py-4 md:p-8 relative mb-8 bg-white shadow-balanced rounded-xl">

            {# Calcul du nombre de plats/aliments dans ce repas #}
            {% if app.session.has('_meal_day_' ~ rankMeal) 
                and 'dishAndFoods' in app.session.get('_meal_day_' ~ rankMeal)|keys 
                and app.session.get('_meal_day_' ~ rankMeal)['dishAndFoods'] is not null 
            %}
                {% set rankDish = app.session.get('_meal_day_' ~ rankMeal)['dishAndFoods']|length %}
            {% else %}
                {% set rankDish = 0 %}
            {% endif %}

            {# Affichage de la liste des plats ou message si vide #}
            {% if rankDish > 0 %}
                {{ include('meals/day/list-dishes.html.twig') }}
                {{ include('meals/day/group-btn-action.html.twig') }}
            {% else %}
                <div class="flex items-center pl-4">
                    <span class="text-xs md:text-sm text-neutral-400 rounded-lg p-2">Aucun aliments/plats choisis</span>
                    <div class="ml-auto">{{ include('meals/day/group-btn-action.html.twig') }}</div>
                </div>
            {% endif %}

        </div>

    </div>

</div>