{# Si ce n'est pas un modèle et qu'il y a au moins un repas #}
{% if app.session.get('_meal_day_date') != 'model' and (lastRankMeal > 0 or (lastRankMeal == 0 and 'dishAndFoods' in app.session.get('_meal_day_' ~ lastRankMeal)|keys and app.session.get('_meal_day_' ~ lastRankMeal)['dishAndFoods'] is not empty)) %}

    <div class="flex items-center gap-3 ml-auto justify-end">

        {# Bouton pour supprimer tous les repas #}
        <button
            type="button" 
            class="remove-meals ... "
            data-action="meal#removeMeals"
            data-url="{{ path('meal_day_remove') }}"
            data-url-redirect="{{ path('meal_day') }}"
        >
            <svg>...</svg>
            Supprimer
        </button>

        {# Bouton pour sauvegarder les repas #}
        <button 
            type="button" 
            class="save-meals ... "
            data-action="meal#saveMeals"
            data-url="{{ path('menu_add') }}"
        >
            <svg>...</svg>
            Enregistrer
        </button>

    </div>

{# Si on est sur un modèle et qu'il y a des plats dans le repas modèle #}
{% elseif app.session.get('_meal_day_date') == 'model' and 'dishAndFoods' in app.session.get('_meal_day_0')|keys and app.session.get('_meal_day_0')['dishAndFoods'] is not empty %}

    {# Formulaire pour nommer et sauvegarder le repas modèle #}
    <form 
        action="{% if 'id' in app.session.get('_meal_day_0')|keys and app.session.get('_meal_day_0')['id'] is not null %}
            {{ path('model_meal_add', { idMealModel: app.session.get('_meal_day_0')['id'], 'meal_list' : true }) }}
        {% else %}
            {{ path('model_meal_add', {'meal_list' : true}) }}
        {% endif %}"
        method="POST" 
        class="flex w-full justify-start md:justify-end items-center gap-4 mb-4 md:mb-12"
    >
        <input type="hidden" class="rank" name="rankMeal" value="0">

        {# Champ pour nommer le repas #}
        <div class="input-group flex">
            <input 
                type="text" 
                class="name-model-meal form-control ..."
                name="name" 
                placeholder="Nom du repas" 
                required="required" 
                {% if 'name' in app.session.get('_meal_day_0')|keys and app.session.get('_meal_day_0')['name'] is not null %}
                    value="{{ app.session.get('_meal_day_0')['name'] }}"
                {% endif %}
            >
        </div>

        {# Bouton pour enregistrer le repas modèle #}
        <button 
            type="submit" 
            class="save-meals ... " 
        >
            <svg>...</svg>
            <span class="my-hidden md:flex text-white">Enregistrer</span>
        </button>
    </form>

{% endif %}