<div class="flex bg-blue-50 text-slate-600 pl-6 tracking-tight">
{# <div class="flex py-2 bg-gray-100 text-xl px-6 tracking-tight"> #}

	{% if app.session.has('_meal_day_' ~ rankMeal) and 'type' in app.session.get('_meal_day_' ~ rankMeal)|keys and app.session.get('_meal_day_' ~ rankMeal)['type'] is not null %}
		{% set type = app.session.get('_meal_day_' ~ rankMeal)['type'] %}
	{% else %}
		{% set type = 'meal.type.breakfast' %}
	{% endif %}

	{% set rankPreviousType = 0 %}

	{% if 'rankPreviousType' in app.session.get('_meal_day_' ~ rankMeal)|keys and app.session.get('_meal_day_' ~ rankMeal)['rankPreviousType'] is not null %}
		{% set rankPreviousType = app.session.get('_meal_day_' ~ rankMeal)['rankPreviousType'] %}
	{% else %}
		{% if rankMeal > 0 %}
			{% for rank in (rankMeal-1)..0 %}
				{% if app.session.get('_meal_day_' ~ rank)['type'] is not null and rankPreviousType == 0 %}
					{% set rankPreviousType = app.session.get('_meal_day_' ~ rank)['type'] %}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endif %}

	{# {% if rankMeal > 0 and app.session.get('_meal_day_' ~ (rankMeal-1))['type'] == null %}

		{% set rankPreviousType = null %}

	{% else %}

		{% if 'rankPreviousType' in app.session.get('_meal_day_' ~ rankMeal)|keys %}
			{% set rankPreviousType = app.session.get('_meal_day_' ~ rankMeal)['rankPreviousType'] %}
		{% else %}
			{% set rankPreviousType = 0 %}
		{% endif %}

	{% endif %} #}

	<div class="flex items-center w-full">

		{% for typeMeal in typeMeals %}

			{# {% if loop.first %}<div>{% endif %} #}

				{# <label class="radio-inline container-radio mr-2 flex gap-2 text-md font-normal uppercase text-gray-600 py-3"> #}
	    		
				<div class="form-check flex gap-2 mr-2 py-2 items-center">

					{# {{ rankPreviousType }} {{ typeMeal.ranking }} #}

	    			<input type="radio" value="{{ typeMeal.backName }}" 
							class="type form-check-input" name="type_{{ rankMeal }}" 
							data-type="{{ type }}" data-rank-meal="{{ rankMeal }}" 
							{% if rankPreviousType == 'none' or typeMeal.ranking < rankPreviousType %}disabled data-disabled="1"{% else %}data-disabled="0"{% endif %}>
	    		
	    			<span style="{% if typeMeal.ranking < rankPreviousType %}; color:#c3c3c3{% endif %}" checked="checked">
						{{ typeMeal.backName|trans({}, 'meal') }}
					</span>
	    		
	    		</div>

    		{# {% if loop.index0 == 2 %}</div><div>{% endif %}
    		{% if loop.last %}</div>{% endif %} #}

		{% endfor %}

		<div class="ml-auto mr-2 font-bold">{{ app.session.get('_meal_day_' ~ rankMeal)['energy']|default(0) }} KCAL</div>

		{# {{ app.environment == "dev" ? "<span class='ml-auto'>#{_self}</span>"|raw : null }}</span> #}

	</div>

	{# {{ render(controller('App\\Controller\\meal\\DefaultController::fgpCheckedInMeal', {'rankMeal' : rankMeal})) }} #}

	{# {{ include('meals/day/group-btn-action.html.twig') }} #}
	
</div>