{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	- Nos recommandations journalières
{% endblock %}

{% block body %}

	<div class="py-12">

		{{ include('navigation/_header_page.html.twig', {title: 'Nos recommandations journalières'}) }}

		<div class="flex justify-center">

			<div class="w-full lg:w-1/3 bg-white rounded-xl shadow-balanced">

				<div
					class="flex flex-col items-center justify-center font-bold p-8">

					<!-- Recommandations Énergie -->
					<div class="flex flex-row items-center justify-center text-xl gap-2 mb-8">
						<svg class="w-8 h-8 text-orange-700" fill="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
							<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
							<g id="SVGRepo_iconCarrier">
								<path d="M19,8H14.724l3.144-5.5A1,1,0,0,0,17,1H10a1,1,0,0,0-.895.553l-5,10A1,1,0,0,0,5,13H9.656L7.042,21.713a1,1,0,0,0,1.722.933l11-13A1,1,0,0,0,19,8Zm-8.663,9.689,1.621-5.4A1,1,0,0,0,11,11H6.618l4-8h4.658L12.132,8.5A1,1,0,0,0,13,10h3.844Z"></path>
							</g>
						</svg>
						{{ '%kcal% kCal / %kj% kJ'|replace({"%kcal%": app.user.energy|round, "%kj%": app.user.energyKj|round}) }}
					</div>

					<!-- Recommandations Nutriments -->
					{% for nutrient in nutrients %}
						<div class="flex flex-row items-center justify-center text-xl gap-2 mb-2">
							<div class="flex flex-col text-center">
                                <div class="flex flex-row items-center gap-2">
                                    <div class="rounded-full w-4 h-4" style="background-color: {{ nutrient.color }}"></div>
								    <span class="font-semibold">{{ nutrient.name|capitalize }}</span>
                                </div>
								<span class="text-neutral-500">
									{{ "%s g"|format(attribute(app.user, nutrient.code)) }}
								</span>
							</div>
						</div>
					{% endfor %}

				</div>

			</div>

		</div>

	</div>

{% endblock %}
