{% import 'macros/nutrition.twig' as nutrition %}

<!-- MODAL : Bilan nutritionnel   -->
<div
	data-modal-meal-nutrition-summary-target="modal" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">

	<!-- Conteneur principal de la modal -->
	<div
		class="bg-white rounded-2xl shadow-xl w-full max-w-2xl p-4 relative max-h-[90vh] flex flex-col">

		<!-- Bouton de fermeture de la modal -->
		<div class="flex items-center justify-end">
			<button
				type="button" data-action="click->modal-meal-nutrition-summary#close" class="flex items-center justify-center rounded-full text-sky-600 transition duration-300 hover:bg-gray-100 rounded-full p-3 cursor-pointer" aria-label="Close">
				<!-- Icône croix -->
				<svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 14">
					<path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
				</svg>
			</button>
		</div>

		<!-- Titre de la fenêtre -->
		<div class="p-2 border-b border-gray-200">
			<h2 class="text-xl font-bold">
				Bilan nutritionnel de vos repas
			</h2>
		</div>

		<!-- Contenu scrollable de la modal -->
		<div class="flex-1 overflow-y-auto min-h-0 p-5">

			{# ====================================================== #}
			{# SECTION : ENERGY (Calories totales du repas)          #}
			{# ====================================================== #}

			{{ nutrition.accordion(
				'Energie',
				alerts.energy,
				messageSuggestions['energy'],
				'Kcal',
				'Kcal'
			) }}

			{# ====================================================== #}
			{# SECTION : NUTRIMENTS                                  #}
			{# Exemple : protéines, lipides, glucides, sodium       #}
			{# ====================================================== #}

			{% for nutrient, data in alerts.nutrients %}

				{{ nutrition.accordion(
					data.nutrientName|capitalize,
					data,
					messageSuggestions[nutrient],
					'g',
					'g'
				) }}

			{% endfor %}

			{# ====================================================== #}
			{# SECTION : FOOD GROUP PARENTS (FGP)                    #}
			{# Groupes alimentaires principaux : fruits, légumes...  #}
            {# ====================================================== #}

			<div class="p-4 text-sm">

                <h4>Répartition de votre consommation par groupe alimentaire</h4>

                {% for fgp, data in alerts.food_groups %}

                    <div class="border-b border-gray-200 flex justify-between items-center py-2">
                      
						<div class="flex flex-row items-center gap-2">
							<span class="w-4 h-4 rounded-full" style="background-color: {{ data.fgpColor }}"></span>
							<span>{{ data.fgpName }}</span>
						</div>

						<div class="ml-auto mr-6">{{ data.consumed|round }} g</div>
   
                    </div>

                {% endfor %}

            </div>

		</div>

	</div>

</div>
