{% extends "base.html.twig" %}

{% block title %}{{ group.name }}{% endblock %}

{% block body %}

<div class="py-12">

    {{ include('navigation/_header_page.html.twig', {title: 'Les groupes alimentaires'}) }}

    <div class="flex justify-center">

        <div class="bg-white w-full lg:w-2/3 shadow-lg rounded-xl p-12">

            <a href="{{ path('app_food_groups_index') }}" class="flex gap-2 items-center">
                <svg class="w-10 h-10" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15 7L10 12L15 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                Revenir aux groupes
            </a>

            <div class="mt-6 p-8 rounded-xl text-white relative border"
                style="background: linear-gradient(135deg, {{ group.color }}, {{ group.degradedColor }})">
                <h1>{{ group.name }}</h1>
                <img src="{{ asset('/images/vegetables_photo.png') }}" width="300px" class="absolute right-0 border my-hidden md:flex" style="top: -150px" />
            </div>

            <div class="my-8">
                {{ group.content|raw|nl2br }}
            </div>

        </div>

    </div>

</div>

{% endblock %}
