{% for foodGroupParent in foodGroupParents %}
    <div class="fgp-wrapper">

        <div 
            class="fgp-dot {% if foodGroupParent.id not in listFgp %}fgp-inactive{% endif %}"
            style="background-color: {{ foodGroupParent.color }}">
        </div>

        <div class="fgp-tooltip">
            <div class="fgp-tooltip-content" style="background-color: {{ foodGroupParent.degradedColor }}">
                <a style="color: {{ foodGroupParent.color }}" href="{{ path('app_food_groups_show', { slug: foodGroupParent.slug }) }}">
                    <strong>{{ foodGroupParent.name }}</strong>
                </a>
            </div>
            <div class="fgp-arrow" style="background-color: {{ foodGroupParent.degradedColor }}"></div>
        </div>

    </div>
{% endfor %}

