<div class="form-quantity-food hidden flex-row justify-center gap-2 w-full py-2">

    <form method="POST" class="flex flex-row items-center gap-2">

        <input 
            type="hidden" 
            name="_token" 
            value="{{ csrf_token('modify_quantity_food') }}"
            data-foods-dish-target="modifyQuantityToken"
        />

        {% set foodGroupAlias = food.foodGroup.alias %}

        {# <input name="food_group_code" type="hidden" value="{{ foodGroupAlias }}" /> 
        <input name="food_group_slug" type="hidden" value="{{ food.foodGroup.slug }}" />  #}
        <div class="flex gap-2">

            <input 
                name="quantity" 
                type="text" 
                class="w-16 rounded-lg"
                data-foods-dish-target="newQuantity"
                placeholder="Quantité" 
                aria-label="default input inline 1" 
                {% if foodGroupAlias in app.session.get('recipe_foods')|keys 
                        and food.id in app.session.get('recipe_foods')[foodGroupAlias]|keys %}
                            value="{{ app.session.get('recipe_foods')[foodGroupAlias][food.id]['quantity'] }}"
                {% endif %}
            >

            <select 
                name="unit-measure"
                data-foods-dish-target="newUnitMeasure"
                class="rounded-lg"
            >
            
                {% for unitMeasure in unitMeasures %}

                    {% if (unitMeasure.gramRatio is not null) or (food.canBeAPart == true and unitMeasure.gramRatio is null) %}
            
                        <option value="{{ unitMeasure.alias }}"
                        
                            {% if foodGroupAlias in app.session.get('recipe_foods')|keys 
                            and food.id in app.session.get('recipe_foods')[foodGroupAlias]|keys
                    and app.session.get('recipe_foods')[foodGroupAlias][food.id]['unit_measure'] == unitMeasure.alias %} 
                                        selected="selected"
                                    {% endif %}>

                                    {{ unitMeasure.alias }}
                                    
                                </option>

                            {% endif %}

                        {% endfor %}
            
            </select>
        </div>

        <div class="flex gap-2">
            <button 
                type="button" 
                class="flex flex-row bg-light-blue text-white font-bold p-2 rounded items-center"
                data-action="foods-dish#editQuantity"
            >
                Modifier
            </button>
            
            <button 
                type="button" 
                class="text-light-blue font-bold py-2" 
                data-action="foods-dish#toggleFormEdit"
            >
                Annuler
            </button>
        </div>

    </form>

</div>