{% if app.session.has('recipe_foods') %}

    <div class="w-full">

        {% for foodGroupAlias, foods in app.session.get('recipe_foods') %}

            {% if foods is not empty %}

                <span class="mt-6 font-bold text-base">{{ foodGroupAlias|change('App\\Entity\\FoodGroup\\FoodGroup', 'alias', 'name') }}</span>


                <div class="flex flex-col w-full">

                        {% for id, item in foods %}
                 
                            {% if item.quantity is not empty %}
                                <div 
                                    class="flex flex-row items-center {% if loop.index is odd %} bg-slate-100{% endif %}"
                                    {{ stimulus_controller('foods-dish', { url: path('app_dish_food_edit', {'idFood': item.food.id, 'idDish': idDish}) }) }}
                                >
                                    <div class="pl-2 py-2 flex items-center gap-2 w-1/2">
                                        {% if item.food.picture is not null %}
                                            <img alt="Image aliment" class="rounded-lg w-12" src="{{ item.food.picturePath|imagine_filter('squared_thumbnail_small') }}">
                                        {% else %}
                                            <img src="{{ asset('uploads/dish/pic_dish_default.jpg') }}" alt="Photo plat {{ item.food.name }}" class="rounded-lg w-12">
                                        {% endif %}
                                        <a class="font-semibold text-light-blue">{{ item.food.name }}</a>
                                        <div class="text-gray-600 text-xs whitespace-nowrap">{{ item.food.isSubFoodGroup ? item.food.name : item.food.subFoodGroup }}</div>
                                    </div>
    
                                    <div class="w-2/6 flex flex-row items-center justify-center h-full" style="height: 100%" data-foods-dish-target="quantity"> 
                                        {{ include('dish/_quantity_food.html.twig', { quantity: item.quantity, unitMeasure: item.unit_measure, idFood: id, idDish: idDish }) }}
                                    </div>
                      
                                    <div class="w-1/6 ml-auto mr-2">

                                        <div class="flex justify-end items-center ml-auto pr-4 gap-2">

                                            <button 
                                                type="button" 
                                                data-action="foods-dish#toggleFormEdit"
                                                data-foods-dish-target="btnToggleEdit"
                                                class="flex items-center font-medium"
                                            >
                                                {{ include('partials/svg/edit.html.twig') }}
                                            </button>

                                            <a href="#" class="delete-food flex items-center font-medium" data-foodgroup-alias="{{ foodGroupAlias }}" data-foodid="{{ id }}">
                                                {{ include('partials/svg/remove.html.twig') }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
               
                </div>

            {% endif %}

        {% endfor %}

    </div>
    
{% endif %}

