{% extends "base.html.twig" %}

{% form_theme dishForm 'form/_custom_dish_themes.html.twig' %}

{% block title %}
	{{ parent() }}
	- Nouvelle recette
{% endblock %}

{% block body %}

	<div class="py-12">

		{% if dish is defined %}
			{% set idDish, title = dish.id, "#{dish.name}" %}
		{% else %}
			{% set idDish, title = null, "Nouvelle recette" %}
		{% endif %}

		{{ form_start(dishForm, {'attr': {'novalidate': 'novalidate', 'id': 'form_dish', 'class': 'm-0 p-0'}}) }}

		<div class="flex flex-col items-start md:flex-row md:items-center">
			{{ include('navigation/_header_page.html.twig') }}
			<div class="ml-auto md:mt-5">
				{{ include("dish/_button_group.html.twig") }}
			</div>
		</div>

		{{ include('dish/_form.html.twig') }}

	</div>

{% endblock %}
