{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Les plats{% endblock %}

{% block body %}

    <div
        {{ stimulus_controller('reload-content', {
            'url': path('app_dish_list'),
            'urlListRemoveFavoriteDish': path('app_favorite_dishes_remove'),
            'type-dish': 'type.dish.all'
        }) }}
        {{ stimulus_controller('view-mode') }}
        class="py-12"
    >
        <div {{ stimulus_controller('view-mode') }}>        

            <div class="flex justify-between items-center">

                {% if favoriteDishesId is defined %}

                    <div class="md:my-hidden flex flex-col gap-2 items-start mb-8">

                        <h1 class="text-2xl md:text-4xlfont-bold">
                            Les plats
                        </h1>
                        
                        <a class="link-white flex items-center justify-center gap-2 ml-auto text-center px-2 py-2 leaning-4 font-bold text-md md:text-base text-white bg-sky-600 hover:bg-sky-700 transition duration-300 rounded-lg w-[250px]" href="{{ path('app_dish_food_session_clear') }}"> 
                            <svg viewBox="0 0 24 24" class="w-5 h-5" fill="#ffffff" data-v-563d9226=""><path d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" data-v-563d9226=""></path></svg>
                            Saisir une recette
                        </a>

                    </div>

                    <div class="my-hidden md:flex flex-row w-full gap-2 items-center justify-between mb-8">

                        <h1 class="text-2xl md:text-4xl font-bold">
                            Les plats
                        </h1>
                        
                        <a class="link-white flex items-center justify-center gap-2 ml-auto text-center px-2 py-2 leaning-4 font-bold text-md md:text-base text-white bg-sky-600 hover:bg-sky-700 transition duration-300 rounded-lg w-[250px]" href="{{ path('app_dish_food_session_clear') }}"> 
                            <svg viewBox="0 0 24 24" class="w-5 h-5" fill="#ffffff" data-v-563d9226=""><path d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" data-v-563d9226=""></path></svg>
                            Saisir une recette
                        </a>

                    </div>
                    
                {% else %}

                    <h1 class="text-2xl md:text-4xl mb-8 font-bold">
                        Mes plats préférés
                    </h1>

                {% endif %}
            </div>

            <div>

                {% if favoriteDishesId is defined %}

                    <div class="flex flex-col gap-2 items-start">

                        <div class="relative search_dish_list w-full md:w-1/2 mb-2">
                            <input
                                id="input_search_dish_list"
                                name="q"
                                placeholder="Saisissez le nom d'un aliment ou d'un plat"
                                type="search"
                                class="block p-6 w-full xl:w-2/3 rounded-lg"
                                data-reload-content-target="search"
                                data-action="reload-content#onSearchInput"
                            >
                        </div>
                                    
                        <div class="flex flex-row gap-2 items-center">
                            <button
                                type="button"
                                data-action="reload-content#onSelectAllFoodGroup"
                                data-reload-content-target="selectAllFoodGroup"
                                class="flex items-center justify-center py-3 px-4 gap-2 font-semibold text-sm lg:text-lg leading-4 cursor-pointer rounded-lg text-white bg-sky-600 hover:text-white hover:bg-sky-600 transition-colors duration-300"
                            >
                                <span>Tous les groupes</span>
                            </button>
                            <button 
                                type="button" 
                                data-action="reload-content#onDeselectAllFoodGroup"
                                data-reload-content-target="deselectAllFoodGroup"
                                class="flex items-center justify-center py-3 px-4 gap-2 font-semibold text-sm lg:text-lg leading-4 cursor-pointer rounded-lg bg-gray-100 text-gray-900 hover:text-gray-900 hover:bg-gray-200 transition-colors duration-300"
                            >
                                <span>Aucun groupe</span>
                            </button>
                        </div>

                        <div class="flex flex-row flex-wrap gap-2 mt-2 mb-2">
                            {{ include('/foodgroup/_foodgroup_list.html.twig') }}
                        </div>

                    </div>

                    <div class="flex flex-col gap-4 xl:gap-0 items-start xl:flex-row mt-4 justify-start xl:items-center lg:justify-between w-full xl:h-8">

                        <div class="flex flex-col justify-start md:flex-row gap-4 md:gap-0 w-full">

                            <div class="flex items-center">
                                <button 
                                    type="button"
                                    class="leading-4 btn-type-dish py-3 px-4 font-semibold tabs-date-range_tab bg-sky-600 text-white mr-2 text-sm lg:text-lg cursor-pointer rounded-lg hover:text-white hover:bg-sky-600 transition-colors duration-300"
                                    data-reload-content-target="typeDish"
                                    data-action="reload-content#onSelectTypeDish"
                                    data-type-dish="type.dish.all"
                                >
                                    Tous
                                </button>
                                {% for type in constant('App\\Service\\TypeDishHandler::TYPE_NAMES') %}
                                    <button 
                                        type="button"
                                        class="leading-4 btn-type-dish py-3 px-4 font-semibold tabs-date-range_tab bg-gray-100 text-gray-900 mr-2 text-sm lg:text-lg cursor-pointer rounded-lg hover:text-gray-900 hover:bg-gray-200 transition-colors duration-300" 
                                        data-reload-content-target="typeDish"
                                        data-action="reload-content#onSelectTypeDish"
                                        data-type-dish="{{ type }}"
                                    >
                                        {{ type|trans({}, 'dishes')|capitalize }}
                                    </button>
                                {% endfor %}
                            </div>

                            <div class="flex items-center ml-0 md:ml-auto lg:ml-16 mr-4 gap-2">
                                {{ include('meals/partials/_button_gluten_lactose.html.twig') }}
                            </div>

                            <div class="my-hidden lg:flex h-8 md:h-10 xl:h-11 ml-auto">
                                {{ include('partials/_view_mode_list.html.twig') }}
                            </div>

                        </div>

                    </div>

                {% endif %}

                <div 
                    {{ stimulus_controller('favorite-dishes', {
                        'url': path('app_favorite_dishes_list', {'ajax': 1}),
                        'urlAdd': path('app_favorite_dishes_add'),
                        'urlRemove': path('app_favorite_dishes_remove')
                    }) }}
                >
                    <div 
                        data-view-mode-target="wrapper"
                        id="wrapper" 
                        class="wrapper gap-4 mt-8 relative min-h-64"
                        data-loading="addClass(opacity-50)"
                        data-reload-content-target="content"
                        data-favorite-dishes-target="content"
                    >     
                        {{ include('dish/_dish_list.html.twig') }}
                    </div>

                </div>

                {% if favoriteDishesId is defined %}

                    <div 
                        class="container-loader w-full h-64 items-center justify-center mt-8 hidden flex py-8"
                        data-reload-content-target="loader"
                    >
                        <div class="loader"></div>
                    </div>

                    <center class="mt-8 mb-8">
                        <button 
                            type="button"
                            class="bg-gray-200 px-4 py-2 h-10 text-sm rounded-lg text-gray-500 hover:text-gray-900 transition duration-300"
                            data-action="reload-content#onLoadMore"
                            data-reload-content-target="loadMore"
                        >
                            Voir plus de plat...
                        </button>
                    </center>

                {% endif %}


            </div>

        </div>
    </div>

{% endblock %}